<div class="header-wrap">
  <div class="row col-12">
    <div class="col-10">
      <div class="row">
        <div class="col-3"><a [routerLink]="['/home']"><img width="165" src="./assets/images/icons/main-logo.svg"></a>
        </div>
        <a [routerLink]="['/vocabulary']" class="col-2 text-center pt-2 " (click)="setItem('vocabulary')">
          <span class="main-menu-item" [class.item-active]="menuItem === 'vocabulary'">Sõnavara otsing</span>
        </a>
        <a [routerLink]="['/rating']" class="col-3 text-center pt-2 " (click)="setItem('rating')">
          <span class="main-menu-item" [class.item-active]="menuItem === 'rating'">Teksti sõnavara hindamine</span>
        </a>
        <a [routerLink]="['/grammar']" class="col-2 text-center pt-2 " (click)="setItem('grammar')">
          <span class="main-menu-item" [class.item-active]="menuItem === 'grammar'">Grammatika</span>
        </a>
        <a [routerLink]="['/about']" class="col-2 text-center pt-2" (click)="setItem('about')">
          <span class="main-menu-item" [class.item-active]="menuItem === 'about'">Projektist</span>
        </a>
      </div>
    </div>
    <a href="https://sonaveeb.ee/" aria-label="Sõnaveebi" role="link" class="logo">
      <span class="icon icon-logo-s d-md-none"></span>
      <span class="icon-small icon-logo d-none d-md-block"></span>
    </a>
  </div>
</div>
