<div class="container footer-wrapper">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <p class="footer-text">
        <strong>Eesti Keele Instituut</strong>
        <br>
        Roosikrantsi 6, 10119 Tallinn
        <br>
        tel: 617 7500
        <br>
        e-post:
        <a class="text-underline" href="mailto:eki@eki.ee">eki@eki.ee</a>
        <br>
        reg-kood: 70004011
      </p>
    </div>
    <div class="col-12 col-md-4 order-2 order-md-1 col-reverse">
            <span class="last-update">
              <span>Sõnaveeb 2020</span>
              <span style="color: gray"> (Wordweb App-1.10)</span>
            </span>
      <span class="copyright">
              ©&nbsp;
              <span>Eesti Keele Instituut 2020</span>
            </span>
    </div>
    <div class="col-12 col-sm-6 col-md-4 order-1 order-md-2 justify-content-md-end d-flex">
      <div class="social-list">
        <span class="helper-text">Jaga meid:</span>
        <a aria-label="Jaga lehte Facebookis" class="fb-icon icon" href="http://www.facebook.com/sharer.php?u=https://sonaveeb.ee/" target="_blank" title="Share this in Facebook"></a>
      </div>
    </div>
  </div>
</div>
