<div class="container-fluid bottom-gutter" *ngIf="isDataAvailable">
  <div class="row">
    <div class="col-12">
      <h3>Detailinfo</h3>
    </div>
    <div class="col-8 pr-4">
      Tagasi
    </div>
    <div class="col-4">
      <button class="btn btn-submit float-right" (click)="modal.open()">Tagasiside</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Keeletase:
    </div>
    <div class="col-8">
        {{obj.langlevel}}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Peakategooria:
    </div>
    <div class="col-8">
      {{obj.maincategory_name}}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Alamkategooria:
    </div>
    <div class="col-8">
      {{obj.subcategory_name}}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Oskab-lause:
    </div>
    <div class="col-8">
      {{obj.can_do_statement}}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Tunnused:
    </div>
    <div class="col-8">
      {{obj.can_do_statement}}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Semantiline funktsioon:
    </div>
    <div class="col-8">

    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Süntaktiline funktsioon:
    </div>
    <div class="col-8">

    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Pragmaatiline funktsioon:
    </div>
    <div class="col-8">

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      Märkus:
    </div>
    <div class="col-8">

    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Näitelause 1:
    </div>
    <div class="col-8">

    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Parandatud
    </div>
    <div class="col-8">

    </div>
  </div>
  <app-feedback-modal></app-feedback-modal>
</div>
