<div class="container-fluid bottom-gutter content-panel" *ngIf="isDataAvailable">
  <div class="row">
    <div class="col-12">
      <h3>Detailinfo</h3>
    </div>
    <div class="col-8 pr-4">
      <a [routerLink]="['/grammar']" class="back-link">Tagasi</a>
    </div>
    <div class="col-4">
      <button class="btn btn-submit float-right" (click)="modal.open()">Tagasiside</button>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Keeletase:
    </div>
    <div class="col-10">
      <span class="color-{{obj.langlevel}}" >{{obj.langlevel}}</span>
    </div>
  </div>
  <div class="row pt-1">
    <div class="col-2">
      Peakategooria:
    </div>
    <div class="col-10">
      {{obj.maincategory_name}}
    </div>
  </div>
  <div class="row pt-1">
    <div class="col-2">
      Alamkategooria:
    </div>
    <div class="col-10">
      {{obj.subcategory_name}}
    </div>
  </div>
  <div class="row pt-1">
    <div class="col-2">
      Teema:
    </div>
    <div class="col-10">
      <span class="gramprofile-topic">{{obj.topic}}</span>
    </div>
  </div>
  <div class="row pt-1">
    <div class="col-2">
      Oskab-lause:
    </div>
    <div class="col-10 text-justify">
       <span  [innerHTML]="obj.can_do_statement">{{obj.can_do_statement}}</span>
    </div>
  </div>
  <div class="row pt-1">
    <div class="col-2">
      Tunnused:
    </div>
    <div class="col-10">
      <div *ngFor="let item of obj.descriptors | keys" class="small">
        {{item.name}} <span class="features-category">{{item.values}}</span>
      </div>
    </div>
  </div>
  <div class="row pt-1" *ngIf="obj.function_sem">
    <div class="col-2">
      Semantiline funktsioon:
    </div>
    <div class="col-10">
      {{obj.function_sem}}
    </div>
  </div>
  <div class="row pt-1" *ngIf="obj.function_synt">
    <div class="col-2">
      Süntaktiline funktsioon:
    </div>
    <div class="col-10">
      {{obj.function_synt}}
    </div>
  </div>
  <div class="row pt-1" *ngIf="obj.function_pragm">
    <div class="col-2">
      Pragmaatiline funktsioon:
    </div>
    <div class="col-10">
      {{obj.function_pragm}}
    </div>
  </div>
  <hr>
  <div class="row pb-4"  *ngIf="obj.comment">
    <div class="col-2">
      Märkus:
    </div>
    <div class="col-10">
      {{obj.comment}}
    </div>
  </div>
  <div *ngFor="let example of obj.examples; let i = index">
    <div class="row" *ngIf="i===0">
      <div class="col-2">
        &nbsp;
      </div>
      <div class="col-6">
        Näide
      </div>
      <div class="col-4">
        Allikas
      </div>
    </div>
    <div class="row">
      &nbsp;
    </div>
    <div class="row">
      <div class="col-2">
        {{i + 1}}.
      </div>
      <div class="col-6">
        {{example.text}}
      </div>
      <div class="col-4">
        <span *ngIf="example.source">{{example.source}}</span><span *ngIf="!example.source">projekti eksperdid</span>
      </div>
    </div>
    <div class="row pb-4" *ngIf="example.text_fixed">
      <div class="col-2">
        Parandatud
      </div>
      <div class="col-10">
        {{example.text_fixed}}
      </div>
    </div>
    
  </div>
  <app-feedback-modal></app-feedback-modal>
</div>
