<div class="container-fluid bottom-gutter content-panel" *ngIf="isDataAvailable">
  <div class="row">
    <div class="col-12">
      <h3>Detailinfo</h3>
    </div>
    <div class="col-8 pr-4">
      <a [routerLink]="['/grammar']"> < Tagasi</a>
    </div>
    <div class="col-4">
      <button class="btn btn-submit float-right" (click)="modal.open()">Tagasiside</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Keeletase:
    </div>
    <div class="col-8">
      <span class="color-{{obj.langlevel}}" >{{obj.langlevel}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Peakategooria:
    </div>
    <div class="col-8">
      {{obj.maincategory_name}}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Alamkategooria:
    </div>
    <div class="col-8">
      {{obj.subcategory_name}}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <b>Oskab-lause:</b>
    </div>
    <div class="col-8">
      <b>{{obj.can_do_statement}}</b>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Tunnused:
    </div>
    <div class="col-8">
      <div *ngFor="let item of obj.descriptors | keys">
        {{item.descriptor}} <span class="features-category">{{item.values}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Semantiline funktsioon:
    </div>
    <div class="col-8">
      {{obj.function_sem}}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Süntaktiline funktsioon:
    </div>
    <div class="col-8">
      {{obj.function_synt}}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      Pragmaatiline funktsioon:
    </div>
    <div class="col-8">
      {{obj.function_pragm}}
    </div>
  </div>
  <hr>
  <div class="row pb-4">
    <div class="col-4">
      Märkus:
    </div>
    <div class="col-8">
      {{obj.comment}}
    </div>
  </div>
  <div *ngFor="let example of obj.examples; let i = index">
    <div class="row">
      <div class="col-4">
        Näitelause {{i + 1}}:
      </div>
      <div class="col-4">
        {{example.text}}
      </div>
      <div class="col-4">
        {{example.source}}
      </div>
    </div>
    <div class="row pb-4">
      <div class="col-4">
        Parandatud
      </div>
      <div class="col-8">
        {{example.text_fixed}}
      </div>
    </div>
  </div>
  <app-feedback-modal></app-feedback-modal>
</div>
