<div class="container-fluid bottom-gutter content-panel w-50">
  <div class="row pt-4 d-flex justify-content-center">
    <a [routerLink]="['/vocabulary']" class="col-3 text-center pt-2">
      <span class="main-item">Sõnavara otsing</span>
    </a>
    <a [routerLink]="['/grammar']" class="col-3 text-center pt-2">
      <span class="main-item">Grammatika</span>
    </a>
    <a [routerLink]="['/rating']" class="col-3 text-center pt-2">
      <span class="main-item">Teksti hindamine</span>
    </a>
    </div>
  <div class="row text-center pt-4">
    <p>Eesti keele kui teise keele õpetaja tööriistad on abiks keeleõpetajatele ja teistele keeleõppega seotud spetsialistidele kursuste kavandamisel ning õppematerjalide, harjutusvara ja testide koostamisel.<br/>
	<br/>
	Keeleoskustasemete määramisel ja kirjeldamisel olid aluseks aluseks <a href="https://www.hm.ee/sites/default/files/euroopa_keele6ppe_raamdokument.pdf">“Euroopa keeleõppe raamdokument: õppimine, õpetamine, hindamine” (Tartu: Haridus- ja Teadusministeerium, 2007)</a>, <a href="https://rm.coe.int/cefr-companion-volume-with-new-descriptors-2018/1680787989">"Euroopa keeleõppe raamdokument: õppimine, õpetamine ja hindamine. Uute tasemekirjeldustega sõsarväljaanne" (2018)</a>, <a href="https://www.riigiteataja.ee/akt/129082014020?leiaKehtiv">põhikooli riiklik õppekava (PRÕK)</a> ning Euroopa Nõukogu noorte õppijate tasemekirjeldused vanustele <a href="https://rm.coe.int/CoERMPublicCommonSearchServices/DisplayDCTMContent?documentId=0900001680697fca">7–10</a> ja <a href="https://rm.coe.int/CoERMPublicCommonSearchServices/DisplayDCTMContent?documentId=0900001680697fc9">11–15</a>.</p>
  </div>
  <div class="row pl-4 pt-4">
    <div class="col-4">
      <img src="./assets/images/ESFLogo.svg">
    </div>
    <div class="col-4">
      <img src="./assets/images/EKILogo.svg">
    </div>
    <div class="col-4">
      <img src="./assets/images/HtmLogo.svg">
    </div>
  </div>

</div>
