<div class="container-fluid bottom-gutter content-panel w-100">
  <div class="main-items-block row pt-4 d-flex justify-content-center">
    <a [routerLink]="['/vocabulary']" class="col-sm-2 col-12 text-center pt-2 pb-3">
      <span class="main-item">Sõnavara</span>
    </a>
    <a [routerLink]="['/grammar']" class="col-sm-2 col-12 text-center pt-2 pb-3">
      <span class="main-item">Grammatika</span>
    </a>
    <a [routerLink]="['/usecase']" class="col-sm-3 col-12 text-center pt-2 pb-3">
      <span class="main-item">Kasutusolukorrad</span>
    </a>
    <a [routerLink]="['/rating']" class="col-sm-2 col-12 text-center pt-2 pb-3">
      <span class="main-item">Õppeteksti hindamine</span>
    </a>
  </div>
  <div class="row col-sm-9 col-12 justify-content-center text-center pt-4 m-auto main-text">
    <p>
      Eesti keele kui teise keele õpetaja tööriistad on abiks keeleõpetajatele
      ja teistele keeleõppega seotud spetsialistidele kursuste kavandamisel ning
      õppematerjalide, harjutusvara ja testide koostamisel.<br />
      <br />
      Keeleoskustasemete määramisel ja kirjeldamisel on aluseks
      <a href="https://harno.ee/sites/default/files/documents/2021-06/euroopa_keele6ppe_raamdokument.pdf">„Euroopa
        keeleõppe raamdokument: õppimine, õpetamine, hindamine“
        (2007)</a>, selle
      <a href="https://hm.ee/sites/default/files/documents/2023-01/S%C3%B5sarv%C3%A4ljaanne_Jaanuar%202023.pdf">uute
        tasemekirjeldustega sõsarväljaanne (2023)</a>,
      <a href="https://www.riigiteataja.ee/akt/13351772?leiaKehtiv">koolieelse lasteasutuse, põhikooli</a>
      ja
      <a href="https://www.riigiteataja.ee/akt/129082014021?leiaKehtiv">gümnaasiumi riiklik õppekava</a>
      ning Euroopa Nõukogu noorte õppijate tasemekirjeldused vanustele
      <a
        href="https://rm.coe.int/CoERMPublicCommonSearchServices/DisplayDCTMContent?documentId=0900001680697fca">7–10</a>
      ja
      <a
        href="https://rm.coe.int/CoERMPublicCommonSearchServices/DisplayDCTMContent?documentId=0900001680697fc9">11–15</a>.
    </p>
  </div>
  <div class="row pt-4 d-flex justify-content-center m-auto">
    <div class="col-sm-3 col-md-2 col-12 pb-5 text-center">
      <img class="esf-img" src="./assets/images/ESFLogo.svg" />
    </div>
    <div class="col-sm-4 col-md-3 col-12 pb-5 text-center">
      <img src="./assets/images/EKILogo.svg" />
    </div>
    <div class="col-sm-3 col-md-2 col-12 pb-5 text-center">
      <img src="./assets/images/HtmLogo.svg" />
    </div>
  </div>
</div>