<div class="container">
  <div class="row pt-4">
    <div class="col-4">
      <input id="search" type="text" [(ngModel)]="searchWord">
      <button class="sm-search-btn" (click)="getData()">Otsi</button>
      <div class="row pt-4">
        <div class="col-6">
          <b>Keeleõppija:</b>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                   [(ngModel)]="list" value="noor" (ngModelChange)="getData()">
            <label class="custom-control-label" for="customRadio1">noor keeleõppija</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                   [(ngModel)]="list" value="etLex" (ngModelChange)="getData()">
            <label class="custom-control-label" for="customRadio2">täiskasvanu</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="float-right">
        <label for="select">Näita</label>
        <select id="select" class="custom-select select" name="pageSize">
          <option [ngValue]="2">2</option>
          <option [ngValue]="4">4</option>
          <option [ngValue]="6">15</option>
        </select>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" sortable="lemma" (sort)="onSort($event)">Sõna</th>
          <th scope="col" sortable="pos" (sort)="onSort($event)">Sõnaliik</th>
          <th scope="col" sortable="level[0]" (sort)="onSort($event)">Tase</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of wordList ">
          <td>
            {{item.lemma}}
          </td>
          <td>
            {{item.pos}}
          </td>
          <td>
            {{item.level}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
