.sm-search-btn{
  background: #00874F;
  border-radius: 0 6px 6px 0;
  color: #FFFFFF;

  display: inline-block;
  text-transform: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-color: #00892E;
}

.select{
  border-color: transparent;
  background: #F2F2F2;
}
