<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-4">
      <div class="row">
        <input id="search" type="text"  class="form-control w-50" [(ngModel)]="searchWord">
        <button class="btn sm-search-btn" (click)="getData()">Otsi</button>
      </div>
      <div class="row pt-4">
        <div class="col">
          <b>Keeleõppija:</b>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input"
                   [(ngModel)]="list" value="noor" (ngModelChange)="getData()">
            <label class="custom-control-label" for="customRadio1">noor keeleõppija <span class="alert-icn"></span></label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input"
                   [(ngModel)]="list" value="etLex" (ngModelChange)="getData()">
            <label class="custom-control-label" for="customRadio2">täiskasvanu</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="float-right">
        <a class="pr-2">PDF</a>
        <label for="select">Näita</label>
        <select id="select" class="custom-select select" name="pageSize">
          <option [ngValue]="2">2</option>
          <option [ngValue]="4">4</option>
          <option [ngValue]="6">15</option>
        </select>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" sortable="lemma" (sort)="onSort($event)">Sõna</th>
          <th scope="col" sortable="pos_text" (sort)="onSort($event)">Sõnaliik</th>
          <th scope="col" sortable="level[0]" (sort)="onSort($event)">Tase</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of wordList ">
          <td>
            {{item.lemma}}
          </td>
          <td>
            {{item.pos_text}}
          </td>
          <td>
            {{item.level}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-feedback-modal></app-feedback-modal>
</div>
