.plus {
  color: #8A98A5;
}

.minus {
  color: #8A98A5;
  padding-left: 2.5rem;
  margin-right: -45px;
}

.filter-icon {
  margin-left: 3.5rem;
  margin-top: 1.5rem;
}

.button-padding {
  padding-top: 1.9rem !important;
}

.dark-bg{
  background: #CCD9E0;
  border-radius: 4px;
}

.arrow-left {
  margin-top: 2.5rem;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid #CCD9E0;
}

.more-link {
  color: #0053B3;
  font-size: 16px;
  cursor: pointer;
}

.input-w {
  width: 190px;
}
.input-w-two {
  width: 240px;
}
