<div class="container-fluid bottom-gutter">
  <div class="row">
    <div class="col-12">
      <h3>Grammatika</h3>
    </div>
    <div class="col-8 pr-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div>
    <div class="col-4">
      <button class="btn btn-submit float-right">Tagasiside</button>
    </div>
  </div>
  <form class="col-12" [formGroup]="form">
    <div class="row">
      <b class="pr-2">Keeleõppija:</b>
      <div class="custom-control custom-radio pr-4">
        <input formControlName="list" type="radio" id="customRadio1" value="noor" (click)="getChildData()"
               class="custom-control-input">
        <label class="custom-control-label" for="customRadio1">noor keeleõppija <span
          class="alert-icn"></span></label>
      </div>
      <div class="custom-control custom-radio">
        <input formControlName="list" type="radio" id="customRadio2" (click)="getAdultData()"
               class="custom-control-input" value="etLex" disabled>
        <label class="custom-control-label" for="customRadio2">täiskasvanu</label>
      </div>
    </div>
    <div class="row">
      <b class="pr-2">Keeletase:</b>
      <div formArrayName="lang" *ngFor="let lang of form.controls.lang.controls; let i = index">
        <div class="custom-control custom-checkbox pb-2 pr-3">
          <input class="custom-control-input" type="checkbox" [formControlName]="i" [id]="i">
          <label class="color-{{langLevel[i]}} custom-control-label" [for]="i">
            {{langLevel[i]}}
          </label>
        </div>
      </div>
    </div>
    <div class="row">
    <div formArrayName="category" class="col">
    <div class="row" *ngFor="let row of category; let i = index;" [formGroupName]="i">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Peakategooria</label>
        <select class="form-control" id="exampleFormControlSelect1" formControlName="maincategory"
                (change)="getChildValues(form.value.category[i].maincategory, i)">
          <option value="" hidden>Kõik peakategooriad</option>
          <option *ngFor="let category of categoriesList">{{category.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Kõik alamkategooriad</label>
        <select class="form-control" id="exampleFormControlSelect2" formControlName="subcategory"
                (change)="getTypeValues(form.value.category[i].subcategory, i)">
          <option value="" hidden>Kõik alamkategooriad</option>
          <option *ngFor="let category of childLists[i]" value="{{category.category}}">{{category.name}}</option>
        </select>
      </div>
      <div *ngIf="typeLists[i]" class="form-group pt-4">
        <select class="form-control mt-2" formControlName="descriptor"
                (change)="getTypes(form.value.category[i].descriptor, i)">
          <option value="" hidden>Tunnus</option>
          <option *ngFor="let type of typeLists[i].descriptors" value="{{type}}">{{type}}</option>
        </select>
      </div>
      <div *ngIf="valTypeLists[i]" class="form-group pt-4">
        <select class="form-control mt-2" formControlName="values">
          <option value="" hidden>Tunnuse liik</option>
          <option *ngFor="let type of valTypeLists[i].values" value="{{type}}">{{type}}</option>
        </select>
      </div>
    </div>
    </div>
      <div class="pl-4 button-padding col">
        <i class="fa fa-plus plus"></i>
        <button class="btn btn-submit ml-2" (click)="sendData()">Otsi</button>
      </div>
    </div>
    <div class="row">
      <i class="fa fa-plus plus pt-1 pr-2"></i>
      <a (click)="addRow()">Lisa peakategooria</a>
    </div>
  </form>
  <div class="pt-4">
    <b>Otsingu tulemused ( <span>{{itemsCount}}</span> )</b>
    <div class="float-right">
      <a class="pr-2">PDF</a>
      <label for="select">Näita</label>
      <select id="select" class="custom-select select" name="pageSize" [(ngModel)]="pageSize">
        <option [ngValue]="2">2</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="6">6</option>
      </select>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" sortable="maincategory_name" (sort)="onSort($event)">Peakategooria</th>
        <th scope="col" sortable="subcategory_name" (sort)="onSort($event)">Alamkategooria</th>
        <th scope="col" sortable="langlevel" (sort)="onSort($event)">Keeletase</th>
        <th scope="col" sortable="level" (sort)="onSort($event)">Kirjeldus</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of words$ | async">
        <td>
          <ngb-highlight [result]="item.maincategory_name"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="item.subcategory_name"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight class="color-{{item.langlevel}}" [result]="item.langlevel"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="item.can_do_statement"></ngb-highlight>
          <div class="row">
            <span class="features">TUNNUSED</span>
            <div *ngFor="let obj of item.descriptors | keys">
              {{obj.descriptor}} <span class="features-category">{{obj.values}}</span>
            </div>
          </div>
        </td>
        <td>
          <ngb-highlight result="Lisainfo"></ngb-highlight>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <ngb-pagination [collectionSize]="total$ | async" [(page)]="page" [pageSize]="pageSize">
        <ng-template ngbPaginationPrevious>Eelmine</ng-template>
        <ng-template ngbPaginationNext>Järgmine</ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>
