<div class="wrapper">
  <div class="overlay" *ngIf="showSpinner">
    <div class="spinner-wrapper">
      <app-spinner></app-spinner>
    </div>
  </div>
  <div class="loaded-content container-fluid bottom-gutter content-panel" [class.blurred]="showSpinner">
    <div class="row">
      <div class="col-12">
        <h3>Grammatika</h3>
      </div>
      <div class="col-8 pr-4">
        <p>Grammatika osa sisaldab noore keeleõppija (keeleoskustasemed eelA1, A1, A2, B1) soovitusliku grammatilise
          pädevuse kirjeldust. Täiskasvanute grammatilise pädevuse kirjeldus on väljatöötamisel.<br><br>
          Keeleoskustasemete määramisel on aluseks Euroopa keeleõppe raamdokument (2007) ja selle sõsarväljaanne (2018)
          ning Euroopa Nõukogu levitanud noorte õppijate tasemekirjeldused (vanustele 7-10 ja 11-15).</p>
      </div>
      <div class="col-4">
        <button class="btn btn-submit float-right" (click)="modal.open()">Tagasiside</button>
      </div>
    </div>
    <form *ngIf="form" class="col-12" [formGroup]="form">
      <div class="row">
        <b class="pr-2">Keeleõppija:</b>
        <div class="custom-control custom-radio pr-4">
          <input formControlName="list" type="radio" id="customRadio1" value="noor" (click)="getChildData()"
                 class="custom-control-input">
          <label class="custom-control-label" for="customRadio1">noor keeleõppija</label>
        </div>
        <div class="custom-control custom-radio" *ngIf="0">
          <input formControlName="list" type="radio" id="customRadio2" (click)="getAdultData()"
                 class="custom-control-input" value="etLex" disabled>
          <label class="custom-control-label" for="customRadio2">täiskasvanu</label>
        </div>
      </div>
      <div class="row">
        <b class="pr-2">Keeletase:</b>
        <div formArrayName="lang" *ngFor="let lang of form.controls.lang.controls; let i = index">
          <div class="custom-control custom-checkbox pb-2 pr-3">
            <input class="custom-control-input" type="checkbox" [formControlName]="i" [id]="i">
            <label class="color-{{langLevel[i]}} custom-control-label" [for]="i">
              {{langLevel[i]}}
            </label>
          </div>
        </div>
      </div>
      <div formArrayName="category">
        <div class="row" [class.main-border]="i!==0" *ngFor="let row of category; let i = index;" [formGroupName]="i">
          <div class="form-group pr-1 input-w">
            <label for="exampleFormControlSelect1" class="pt-2"><b>Peakategooria</b></label>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="maincategory"
                    (change)="getChildValues(form.value.category[i].maincategory, i); row.controls.subcategory.reset();
                    row.controls.subCategory.reset();">
              <option [value]="null">Vali peakategooria</option>
              <option *ngFor="let category of categoriesList" value="{{category.category}}">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group pr-2 input-w-two">
            <label for="exampleFormControlSelect2" class="pt-2"><b>Alamkategooriad</b></label>
            <select class="form-control" id="exampleFormControlSelect2" formControlName="subcategory"
                    (change)="getTypeValues(form.value.category[i].subcategory, i); row.controls.subCategory.reset()">
              <option [value]="null">Vali alamkategooria</option>
              <option *ngFor="let category of childLists[i]" value="{{category.category}}">{{category.name}}</option>
            </select>
          </div>
          <div *ngIf="row.controls.subCategory.controls.length > 0" class="arrow-left"></div>
          <div *ngIf="row.controls.subCategory.controls.length > 0" formArrayName="subCategory"
               class="dark-bg  mb-3 p-0 col-4">
            <div class="pl-4 row" [class.upper-border]="k!==0" *ngFor="let subRow of row.controls.subCategory.controls; let k = index;"
                 [formGroupName]="k">
              <div class="col-4 p-0 ml-3">
                <select class="form-control mt-2" formControlName="descriptor"
                        (change)="getTypes(form.value.category[i].subCategory[k].descriptor, i, k)">
                  <option [value]="null">Tunnus</option>
                  <option *ngFor="let type of typeLists[i]?.descriptors; let z = index;"
                          value="{{type}}">{{typeLists[i]?.names[z]}}</option>
                </select>
              </div>
              <div class="col-5 p-0 ml-2 mr-2">
                <select class="form-control mt-2" formControlName="values">
                  <option [value]="null">Tunnuse liik</option>
                  <ng-container *ngIf="valTypeLists[i]">
                    <option *ngFor="let type of valTypeLists[i][k]?.values" value="{{type}}">{{type}}</option>
                  </ng-container>
                </select>
              </div>
              <i class="fa fa-times minus pt-3 pl-2 pb-4" (click)="removeSubRow(k, i)"></i>
            </div>
          </div>
          <div class="pl-2 pr-2 add-bg" *ngIf="(row.controls.subCategory.controls.length > 0)" >
            <button type="button" class="btn-plus" (click)="addSubRow(i)"><i class="fa fa-plus plus"></i></button>
          </div>
          <div *ngIf="row.controls.subCategory.controls.length <= 0"  class="add-arguments-wrap mt-4">
            <button type="button" class="btn-plus" (click)="addSubRow(i)"><i class="fa fa-plus plus"></i></button>
          </div>
          <div *ngIf="i!==0" class="ml-auto">
            <button type="button" class="btn-remove" (click)="removeRow(i)"><i class="fa fa-times"></i></button>
          </div>
          <div *ngIf="i == 0" class="pt-4 mt-3">
            <button type="button" class="btn btn-submit ml-4" (click)="page=1; sendData()">Otsi</button>
          </div>
        </div>
      </div>
      <div class="row">
        <i class="fa fa-plus plus pt-1 pr-2"></i>
        <a class="more-link" (click)="addRow()">Lisa peakategooria</a>
      </div>
    </form>
    <div class="pt-4" *ngIf="!noResult && total$">
      <b>Otsingu tulemused ( <span>{{total$}}</span> )</b>
      <div class="float-right">
        <label for="select">Näita</label>
        <select id="select" class="select-num" name="pageSize" [(ngModel)]="pageSize" (ngModelChange)="sendData()">
          <option [ngValue]="10">10</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="30">30</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
          <option [ngValue]="total$">kõik</option>
        </select>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th style="width: 15%" scope="col" sortable="maincategory_name" (sort)="onSort($event)">Peakategooria<span
            class="arrow-icon"></span></th>
          <th style="width: 15%" scope="col" sortable="subcategory_name" (sort)="onSort($event)">Alamkategooria<span
            class="arrow-icon"></span></th>
          <th style="width: 10%" scope="col" sortable="langlevel" (sort)="onSort($event)">Tase<span
            class="arrow-icon"></span></th>
          <th scope="col" sortable="summary" (sort)="onSort($event)">Kirjeldus<span class="arrow-icon"></span></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of tableData">
          <td>
            <ngb-highlight [result]="item.maincategory_name"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="item.subcategory_name"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight class="color-{{item.langlevel}}" [result]="item.langlevel"></ngb-highlight>
          </td>
          <td>
            <div class="container">
              <div class="row">
                <span class="features">{{item.topic}}</span>
              </div>
              <div class="row">
                {{item.can_do_statement}}
              </div>
              <div class="row">
                <b class="pr-1">Näide:</b> <i>{{item.firstexample}}</i>
              </div>
              <div class="row">
                <span><b class="pr-1">Tunnused:</b></span>
                <div *ngFor="let obj of item.descriptors | keys">
                 {{obj.name}} <span class="features-category" *ngFor="let value of obj.values">{{value}}</span>
                </div>
              </div>
            </div>
          </td>
          <td>
            <ngb-highlight class="more-link" result="Lisainfo" (click)="toDetail(item)"></ngb-highlight>
          </td>
        </tr>
        </tbody>
      </table>
      <div>
        <ngb-pagination  [collectionSize]="total$" [(page)]="page" [pageSize]="pageSize"
                        (pageChange)="sendData()" [maxSize]="10">
          <ng-template ngbPaginationPrevious>Eelmine</ng-template>
          <ng-template ngbPaginationNext>Järgmine</ng-template>
        </ngb-pagination>
      </div>
    </div>
    <div class="pt-4" *ngIf="noResult">
      <p class="no-result">Tulemused puuduvad.</p>
    </div>
    <app-feedback-modal></app-feedback-modal>
  </div>
</div>
