.adult-blue{
  background: #A0DCF8;
  border-radius: 6px;
}
.adult-green{
  background: #A9EBB4;
  border-radius: 6px;
}
.adult-blue{
  background: #A0DCF8;
  border-radius: 6px;
}
.adult-purple{
  background: #E8CBF3;
  border-radius: 6px;
}
.adult-yellow{
  background: #FFDD75;
  border-radius: 6px;
}
.adult-salmon{
  background: #FFB9B9;
  border-radius: 6px;
}
