/deep/ .popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 276px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: .875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}


/deep/ .popover-body {
  padding: .5rem .75rem;
  color: #212529;
}

/deep/ .popover .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: .5rem;
  margin: 0 .3rem;
}

/deep/ .bs-popover-auto[x-placement^=top], .bs-popover-top {
  margin-bottom: .5rem;
}

/deep/ ngb-popover-window.bs-popover-bottom>.arrow, ngb-popover-window.bs-popover-top>.arrow {
  left: 50%;
  margin-left: -.5rem;
}

/deep/ .bs-popover-auto[x-placement^=top]>.arrow, .bs-popover-top>.arrow {
  bottom: calc((.5rem + 1px) * -1);
}

/deep/ .bs-popover-auto[x-placement^=top]>.arrow::before, .bs-popover-top>.arrow::before {
  bottom: 0;
  border-width: .5rem .5rem 0;
  border-top-color: rgba(0,0,0,.25);
}

/deep/ .popover .arrow::after, .popover .arrow::before {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

/deep/ .bs-popover-auto[x-placement^=top]>.arrow::after, .bs-popover-top>.arrow::after {
  bottom: 1px;
  border-width: .5rem .5rem 0;
  border-top-color: #fff;
}

/deep/ .popover .arrow::after, .popover .arrow::before {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.btn-submit {
  display: inline-block;
  text-transform: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #00892E;
  border-color: #00892E;
}

.text-bg-white {
  background: #FFFFFF;
  border-radius: 10px;
  min-height: 202px;
}

.rating-table{
  margin-top: 2rem;
  border-radius: 10px;
  background: #FFFFFF;
  min-height: 102px;
}

.counter {
  position: absolute;
  bottom: 22px;
  right: 25px;
  color: #5D606E;
}

.table-border {
  border-bottom: 1px solid #3F3F3F;
}
