.text-bg-white {
  background: #FFFFFF;
  min-height: 202px;
  border-radius: .25rem;
  align-content: flex-start;
}

.text-rating-info {
  font-size: 0.875rem;
}

.rating-table {
  margin-top: 7px;
  border-radius: .25rem;
  background: #FFFFFF;
  min-height: 200px;
  max-height: 500px;
  min-width: 195px;
  font-size: 12px;
}

.counter {
  color: #5D606E;
}

.table-border {
  border-bottom: 1px solid #3F3F3F;
}

.text-list p {
  margin-bottom: 5px;
}
.gray {
  color: gray;
}

.text-area {
  min-height: 202px;
}

@media (max-width: 458px) {
  .sm-feedback-btn {
    margin-top: -3.3rem;
  }
}

@media (max-width: 576px) {
  h3 {
    width: 60%;
  }

  .lang-lvl {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .lang-settings {
    margin: 0;
  }

  .mixed-text {
    font-size: 14px;
  }

  .result-word-column {
    margin-left: -1rem !important;
  }

  .sm-search-btn {
    width: 100%;
  }
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.nav-bar{
  box-shadow: none;
}
.nav-tabs { border-color: black; border-bottom: none;}
.nav-link {color: black; border-bottom-color: black; border-bottom: none;}
.nav-link.active {border-color: black; background-color: white; }


span.phrase { border-bottom:1px solid; border-color:gray;   border-width: 2px; }
span.phrase span.phrase { padding-bottom:3px;}
span.phrase span.phrase span.phrase { padding-bottom:6px; }
span.phrase span.phrase span.phrase span.phrase { padding-bottom:9px; }
span.phrase span.phrase span.phrase span.phrase  span.phrase { padding-bottom:12px; }
span.phrase span.phrase span.phrase span.phrase  span.phrase span.phrase { padding-bottom:14px; }


span.phrase.eelA1 { border-color: #D3DBE4; }
span.phrase.A1 { border-color: #A0DCF8; }
span.phrase.A2 { border-color: #A9EBB4; }
span.phrase.B1 { border-color: #E8CBF3; }
span.phrase.B2 { border-color: #FFDD75; }
span.phrase.C1 { border-color: #FFB9B9; }
