<div class="wrapper">
  <div class="overlay" *ngIf="showSpinner">
    <div class="spinner-wrapper">
      <app-spinner></app-spinner>
    </div>
  </div>
  <div class="loaded-content container-fluid bottom-gutter content-panel" [class.blurred]="showSpinner">
    <div class="row">
      <div class="col-12">
        <h3>Sõnavara otsing</h3>
      </div>
      <div class="col-8 pr-4">
        <p>Sõnavara osa sisaldab eri vanuses eri keeleoskustasemetega õppijate sõnavaraloendeid.
          Eristatud on noored keeleõppijad (keeleoskustasemed eelA1, A1, A2, B1) ja täiskasvanud
          (keeleoskustasemed A1, A2, B1, B2, C1).<br><br>
          Ühe sõna otsimiseks trüki sõna otsingulahtrisse. NB! Jäta keeleoskustaseme ja sõnaliigi filtrid valimata!
          Kindla alguse või lõpuga sõnade loendi saamiseks kasuta tärni, nt “k*” (kõik k-ga algavad sõnad) või “*tar”
          (kõik tar-lõpulised sõnad).
          Ainult keeleoskustaseme ja/või sõnaliigiga piiratud loendi saamiseks jäta otsingulahter tühjaks.</p>
      </div>
      <div class="col-4">
        <button class="btn btn-submit float-right" (click)="modal.open()">Tagasiside</button>
      </div>
    </div>
    <div class="row pt-4">
      <form class="col-4" [formGroup]="form">
        <b>Keeleõppija:</b>
        <div class="pl-3 pb-4 row">
          <div class="custom-control custom-radio col-5">
            <input formControlName="list" type="radio" id="customRadio1" value="noor" (click)="getChildData()"
                   class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">noor keeleõppija</label>
          </div>
          <div class="custom-control custom-radio col-7">
            <input formControlName="list" type="radio" id="customRadio2" (click)="getAdultData()"
                   class="custom-control-input" value="etLex">
            <label class="custom-control-label" for="customRadio2">täiskasvanu</label>
          </div>
        </div>
        <div class="pl-3 pb-4 row">
          <input type="text" formControlName="search" class="form-control w-50">
          <button class="btn btn-submit ml-2" (click)="sendData(); page = 1;">Otsi</button>
        </div>
        <div class="row">
          <div class="col-4">
            <b>Keeletase:</b>
            <div formArrayName="lang" *ngFor="let lang of form.controls.lang.controls; let i = index">
              <div class="custom-control custom-checkbox pb-2">
                <input class="custom-control-input" type="checkbox" [formControlName]="i" [id]="i">
                <label class="color-{{langLevel[i]}} custom-control-label" [for]="i">
                  {{langLevel[i]}}
                </label>
              </div>
            </div>
          </div>
          <div class="col-8">
            <b>Sõnaliik:</b>
            <div formArrayName="types" *ngFor="let type of form.controls.types.controls; let i = index">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" [formControlName]="i" id="'type'+{{i}}">
                <label class="custom-control-label" for="'type'+{{i}}">
                  {{wordTypes[i].name}}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="pt-4">
          <a class="remove-filters pr-4" (click)="checkAll()">Kõik sõnaliigid</a>
          <a class="remove-filters"
             (click)="form.controls.lang.reset(); form.controls.types.reset();this.noResult = false;">Tühista
            filtrid</a>
        </div>
      </form>
      <div class="col-8" *ngIf="!noResult">
        <div class="float-right">
          <span class="pr-2 download-link" (click)="sendToFile('txt')">TXT</span>
          <span class="pr-2 download-link" (click)="sendToFile('xlsx')">XLSX</span>
          <label for="select">Näita</label>
          <select id="select" class="select-num" name="pageSize" [(ngModel)]="pageSize" (ngModelChange)="sendData()">
            <option [ngValue]="10">10</option>
            <option [ngValue]="20">20</option>
            <option [ngValue]="30">30</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
            <option [ngValue]="total$">kõik</option>
          </select>
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" sortable="lemma" (sort)="onSort($event)">Sõna<span class="arrow-icon"></span></th>
            <th scope="col" sortable="pos_text" (sort)="onSort($event)">Sõnaliik<span class="arrow-icon"></span></th>
            <th scope="col" sortable="level" (sort)="onSort($event)">Tase<span class="arrow-icon"></span></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of tableData">
            <td>
              <a class="download-link" (click)="sendToTab(item.url)">
                <ngb-highlight [result]="item.lemma_text"></ngb-highlight>
              </a>
            </td>
            <td>
              <ngb-highlight [result]="item.pos_text"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight class="color-{{item.level}}" [result]="item.level"></ngb-highlight>
            </td>
          </tr>
          </tbody>
        </table>
        <div>
          <ngb-pagination [collectionSize]="total$" [(page)]="page" [pageSize]="pageSize"
                          (pageChange)="sendData()" [maxSize]="10">
            <ng-template ngbPaginationPrevious>Eelmine</ng-template>
            <ng-template ngbPaginationNext>Järgmine</ng-template>
          </ngb-pagination>
        </div>
      </div>
      <div class="col-8" *ngIf="noResult">
        <p class="no-result">Selle sõna tasemekohasus ei ole määratud. Vaata sõna tähendust <a
          [attr.href]="APIEndpoint">sõnaveebist</a>.</p>
      </div>
    </div>
    <app-feedback-modal></app-feedback-modal>
  </div>
</div>
