<div class="wrapper">
  <div class="container-fluid bottom-gutter row content-panel m-0 pl-0 pr-0">
    <nav id="main" class="navbar navbar-light bg-light col-4 pl-0 d-md-block d-none">
      <aside role="navigation" class="set-nav">
        <a class="nav-link" [routerLink]="['/about']" fragment="item-1" (click)="onAnchorClick()">Projektist</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-2" (click)="onAnchorClick()">Projekti
          eesmärgid</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-3" (click)="onAnchorClick()">Keeleoskustasemete
          määramine</a>
		<a class="nav-link" [routerLink]="['/about']" fragment="item-4" (click)="onAnchorClick()">Sõnavara- ja grammatikapädevuse kirjelduse allikandmed</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-5" (click)="onAnchorClick()">Sõnavaraloendid</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-6" (click)="onAnchorClick()">Noore
          keeleõppija sõnavaraloendid</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-7" (click)="onAnchorClick()">Täiskasvanute
          sõnavaraloendid</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-8" (click)="onAnchorClick()">Grammatika</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-9" (click)="onAnchorClick()">Kasutusolukorrad</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-10" (click)="onAnchorClick()">Teksti
          sõnavara hindamine</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-11" (click)="onAnchorClick()">Kuidas
          viidata</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-12" (click)="onAnchorClick()">Kasutus-
          ja privaatsustingimused</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-13" (click)="onAnchorClick()">Rahastajad</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-14" (click)="onAnchorClick()">Meeskond</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-15" (click)="onAnchorClick()">Kontakt</a>
      </aside>
    </nav>
    <div data-spy="scroll" data-target="#main" data-offset="0" class="col-md-8 col-12 pb-4 mb-4">
      <div class="d-md-none">
        <div class="form-group pr-sm-1 pr-0 pt-2 input-w">
          <label for="select-nav"><b>Liigu kohta:</b></label>
          <select class="form-control category-select" id="select-nav"
                  (change)="onAnchorClick($event.target.value)">
            <option value="item-1">Projektist</option>
            <option value="item-2">Projekti eesmärgid</option>
            <option value="item-3">Keeleoskustasemete määramine</option>
			<option value="item-4">Sõnavara- ja grammatikapädevuse kirjelduse allikandmed</option>
            <option value="item-5">Sõnavaraloendid</option>
            <option value="item-6">Noore keeleõppija sõnavaraloendid</option>
            <option value="item-7">Täiskasvanute sõnavaraloendid</option>
            <option value="item-8">Grammatika</option>
            <option value="item-9">Kasutusolukorrad</option>
			<option value="item-10">Teksti sõnavara hindamine</option>
            <option value="item-11">Kuidas viidata</option>
            <option value="item-12">Kasutus- ja privaatsustingimused</option>
            <option value="item-13">Rahastajad</option>
            <option value="item-14">Meeskond</option>
            <option value="item-15">Kontakt</option>
          </select>
        </div>
      </div>
      <h3 class="jumptarget" id="item-1">Projektist</h3>
      <h4 class="jumptarget" id="item-2">Projekti eesmärgid</h4>
      <p>
        Õpetaja tööriistad on Haridus- ja Teadusministeeriumi tellitud projekt, mis sai alguse aastal 2019. Projekti põhieesmärk on luua eesti keele kui teise keele valdkonnas ühtne raamistik, samuti kujundada eesti keele kui teise keele sõnavara- ja grammatikapädevuse käsitlemiseks ühtne metakeel, mis lihtsustaks eesti keele kui teise keele kursuste kavandamist ning looks seose keeleõppe ja keeleoskuse hindamise vahel. Projekti sihtgrupp on eelkõige õppekavade koostajad ja õpetajad, mitte õppijad ise.<br />
        <br />
        Projekt on planeeritud mitmeaastasena. 2019. aastal töötati välja täiskasvanud keeleõppija A1–C1-taseme sõnavaraloendid ning noore keeleõppija A1–B1-taseme sõnavaraloendid ja grammatikapädevuse kirjeldused. Aastal 2020 lisandusid noore keeleõppija eelA1- ja B2-taseme sõnavara- ja grammatikapädevuse kirjeldused. Sõnavaraloendid on abiks õppematerjalide koostamisel, tekstide valikul ja tasemekohasuse hindamisel. Grammatikapädevuse kirjeldustest saab teada, MIDA keelekasutaja või keeleõppija oskab teha ja kui HÄSTI ta seda oskab. Aastal 2020 lisandusid  samuti noore keeleõppija (tasemed A1-A2 ja B1-B2) keelekasutusolukordade kirjeldused koos tasemeid eristavate piirangute ja tingimustega.<br />
		<br />
		Õpetaja tööriistade alamleht sisaldab nelja moodulit: sõnavara (noore keeleõppija ja täiskasvanu keeleoskustasemete sõnavaraloendid), grammatika (noore keeleõppija grammatikapädevus keeleoskustasemeti), kasutusolukorrad (noore keeleõppija kesksete keelekasutusolukordade kirjeldused keeleoskustasemeti) ja teksti hindamine (määrab tekstis esinevate sõnade taseme noore või täiskasvanud keeleõppija sõnaloendite põhjal).<br />
      </p>
      <h4 class="jumptarget lang-lvl-text" id="item-3">Keeleoskustasemete määramine</h4>
      <p class="pt-md-0 pt-2">
        Euroopas on nii täiskasvanute kui ka noorte õppijate keeleõppe korraldamine, planeerimine ja keeleoskuse hindamine seotud Euroopa Nõukogu väljatöötatud keeleoskustasemete jaotuse ja kirjeldustega. <br />
		<br />
		<b>Täiskasvanute</b> keeleoskustasemete määramisel on aluseks <a
        href="https://www.hm.ee/sites/default/files/euroopa_keele6ppe_raamdokument.pdf">„Euroopa keeleõppe raamdokument: õppimine, õpetamine, hindamine“ (2007)</a>, <a
        href="https://rm.coe.int/cefr-companion-volume-with-new-descriptors-2018/1680787989">„Euroopa keeleõppe raamdokument: õppimine, õpetamine ja hindamine. Uute tasemekirjeldustega sõsarväljaanne“ (2018)</a> ning eesti keele tasemete kirjeldused <a
        href="https://www.etis.ee/Portal/Publications/Display/14581338-e1a4-4338-a22e-47c20e70a284">„Läbimurre. A1-taseme eesti keele oskus” (2010)</a>, <a href="https://www.etis.ee/Portal/Publications/Display/cff3d01b-771a-45c5-ab28-341eea39d8eb">„Algaja keelekasutaja. A2-taseme eesti keele oskus“ (2008)</a>, <a href="https://www.etis.ee/Portal/Publications/Display/c02d5660-fd91-4012-ad5b-958c2272f8ff">„Iseseisev keelekasutaja. B1- ja B2-taseme eesti keele oskus“ (2008)</a>, <a
        href="https://www.etis.ee/Portal/Publications/Display/8e298ed1-61a2-4f7e-a607-eeed3c7d9633">„Vilunud keelekasutaja. C1-taseme eesti keele oskus“ (2008)</a> ja <a
        href="https://www.etis.ee/Portal/Publications/Display/23cc3bc6-2068-43ad-8847-78921d042307">„Eesti keele suhtluslävi“ (1997)</a>.
		<b>Noore keeleõppija</b> eesti keele oskustasemete määramisel on aluseks ka Euroopa Nõukogu noorte õppijate tasemekirjeldused vanustele <a
        href="https://rm.coe.int/CoERMPublicCommonSearchServices/DisplayDCTMContent?documentId=0900001680697fca">7–10</a> ja <a
        href="https://rm.coe.int/CoERMPublicCommonSearchServices/DisplayDCTMContent?documentId=0900001680697fc9">11–15</a> ning <a
        href="https://www.riigiteataja.ee/akt/13351772?leiaKehtiv">koolieelse lasteasutuse</a>, <a
        href="https://www.riigiteataja.ee/akt/129082014020?leiaKehtiv">põhikooli</a> ja <a
        href="https://www.riigiteataja.ee/akt/129082014021?leiaKehtiv">gümnaasiumi riiklik õppekava</a>.<br />
		<br />		
		Raamdokumendis eristatakse kuut keeleoskustaset (A1, A2, B1, B2, C1, C2), sõsarväljaanne lisab eelA1-taseme. Lubatakse ka hargkäsitlust, mis tähendab, et põhitasemeid võib praktilistel kaalutlustel ja/või kohalikest vajadustest lähtuvalt jagada väiksemateks osadeks ehk alltasemeteks (nt B2 > B2.1 ja B2.2), tähistamaks keeleoskuse edenemist ühe taseme sees. Hargkäsitlust rakendatakse hetkel kehtivates õppekavades: <a
        href="https://www.riigiteataja.ee/akt/129082014020?leiaKehtiv">põhikooli</a> ja <a
        href="https://www.riigiteataja.ee/akt/129082014021?leiaKehtiv">gümnaasiumi</a> riikliku õppekava järgi on vene õppekeelega kooli 3. klassi lõpetaja rahuldav eesti keele oskuse tase A1.2, 6. klassi lõpetajal A2.2, 9. klassi lõpetajal B1.2 ja gümnaasiumi lõpetajal B2.1. Noore keeleõppija eelA1-tasemena käsitletakse antud projektis tinglikult <b>koolieelikute</b> keeleoskust ning selle kirjeldamisel lähtutakse kehtiva <a
        href="https://www.riigiteataja.ee/akt/13351772?leiaKehtiv">koolieelse lasteasutuse riikliku õppekava</a> eesti keele kui teise keele õppe- ja kasvatustegevuse valdkonna sisust ning eeldatavatest tulemustest. <br />
		<br />
		<b>Õpetaja tööriistade</b> projektis kirjeldatakse eeltoodust lähtuvalt <b>täiskasvanud keeleõppija</b> puhul A1-, A2-, B1-, B2-, C1-tasemeid; <b>noore keeleõppija</b> puhul on tasemekirjelduste vastavused keelepädevusega järgmised: eelA1 = 6-7-aastased koolieelikud, A1 = 3. klassi lõpetaja, A2 = 6. klassi lõpetaja, B1 = 9. klassi lõpetaja, B2 = 12. klassi lõpetaja. 
		Täiskasvanute eelA1- ja C2-tasemete ja noore keeleõppija C1- ja C2-tasemete kirjeldused kuuluvad edasiarenduste hulka.<br />
		<br />
		Loetelu täiskasvanud keeleõppijale aastatel 2000–2020 ilmunud õpikutest on leitav <a
        href="https://entu.keeleressursid.ee/shared/7654/jiEl3oSG54n8Jeipp1ycx8eO9O6H3WpHyFLBcOVglkN0gGYfCCk140HcjQhIwCAJ">SIIT</a>.<br />
        Loetelu noorele keeleõppijale aastatel 1994–2020 ilmunud õpikutest on leitav <a
        href="https://entu.keeleressursid.ee/shared/7651/i0dlyZzK10EwMagk19tBuawQP1uVVuWW2eIQI3ZXFz4MVavZa91VAvWn0OtXtAyR">SIIT</a>.<br />
      </p>
	  <h4 class="jumptarget lang-lvl-text" id="item-4">Sõnavara- ja grammatikapädevuse kirjelduse allikandmed</h4>
      <p class="pt-md-0 pt-2">
		Sõnavara- ja grammatikapädevuse kirjeldamiseks kasutati järgmisi allikaid:<br /></p>
		<div class="container">
		<ul style="list-style-type:disc;">
			<li><a href="https://doi.org/10.15155/3-00-0000-0000-0000-071E7L">„Eesti keele ühendkorpus 2017“</a> (DOI: 10.15155/3-00-0000-0000-0000-071E7L; maht 1,3 miljardit sõnet);</li>
			<li><a href="https://doi.org/10.15155/3-00-0000-0000-0000-06ADEL">„Eesti keele A1–C1 õpikute sisu korpus 2017“</a> (DOI: 10.15155/3-00-0000-0000-0000-06ADEL; 8 õpikut; maht umbes 500 000 sõna);</li> 
			<li><a href="https://doi.org/10.15155/3-00-0000-0000-0000-0888BL">„Eesti keele kui teise keele kooliõpikute sisu korpus 2021“</a> (DOI: 10.15155/3-00-0000-0000-0000-0888BL; 27 õpikut 1.-12. klassile; maht umbes 1 300 000 sõna);</li>
			<li><a href="https://doi.org/10.15155/3-00-0000-0000-0000-0885AL"> „Eesti keele A1–C1 õpikute lausete korpus 2021“</a> (DOI: 10.15155/3-00-0000-0000-0000-0848BL; umbes 15 000 sisukorpusest ekstraheeritud täislauset);</li>
			<li><a href="https://doi.org/10.15155/3-00-0000-0000-0000-0888DL">„Eesti keele kui teise keele kooliõpikute lausete korpus 2021“</a> (DOI: 10.15155/3-00-0000-0000-0000-08236L; ligi 30 000 sisukorpusest ekstraheeritud täislauset);</li>
			<li><a href="https://korpused.keeleressursid.ee/emma/">eesti keele õppija korpus EMMA</a> (DOI: <a href="https://doi.org/10.15155/1-00-0000-0000-0000-001A5L">10.15155/1-00-0000-0000-0000-001A5L</a>), millest kasutati 3. klassi eesti keele kui teise keele kirjalikke tunnitöid (2020; 132 teksti, mis koguti Eesti Keele Instituudi tekstikorje pilootprojekti raames), 6. klassi eesti keele kui teise keele tasemetööde kirjalikku osa (2016–2019; 2144 teksti); põhikooli eesti keele kui teise keele lõpueksami kirjalikku osa (2016–2020; 2102 teksti); gümnaasiumi eesti keele kui teise keele riigieksami kirjalikku osa (2017–2020; 2400 teksti);</li>
			<li>korpuse <a href="https://childes.talkbank.org/browser/index.php?url=Other/Estonian/">CHILDES</a> kõige süsteemsemalt kogutud eesti laste suulise kõne alamkorpused Vija, Kapanen ja Zupping, mida kasutati eelkõige eelA1-taseme kirjeldamisel.</li>
		</ul>
		</div>
	  <h3 class="jumptarget" id="item-5">Sõnavaraloendid</h3>
      <p>
        Sõnavara moodul sisaldab noore ja täiskasvanud keeleõppija sõnavaraloendeid, mida on võimalik filtreerida õppija (täiskasvanu või noor), keeleoskustaseme ja sõnaliigi alusel, ning <b>teemaloendeid</b> (elukutsed, jalanõud, kalad, kehaosad, kodutehnika, kontori- ja koolitarbed, köögiviljad, lilled, linnud, loomad, muusikariistad, mööbel, nõud, pereliikmed, putukad, puud ja põõsad, puuviljad ja marjad, pühad ja tähtpäevad, rõivad, seened, sõidukid, toit, tööriistad, värvid), mis on abiks eelkõige algajale keeleõppijale suunatud õppevara väljatöötamisel.<br />
        <br />
        Sõnade tasemetesse jagamise põhimõtted on järgmised:</p>
		<div class="container">
		<ol>
			<li>sagedus korpustes (täiskasvanud keeleõppija puhul eelkõige <a href="https://doi.org/10.15155/3-00-0000-0000-0000-071E7L">„Eesti keele ühendkorpus 2017“</a> ja <a href="https://doi.org/10.15155/3-00-0000-0000-0000-06ADEL">„Eesti keele A1–C1 õpikute sisu korpus 2017“</a>; noore keeleõppija puhul <a href="https://doi.org/10.15155/3-00-0000-0000-0000-0888BL">„Eesti keele kui teise keele kooliõpikute sisu  korpus 2021“</a>, <a href="https://doi.org/10.15155/1-00-0000-0000-0000-001A5L">eesti keele õppija korpus EMMA</a> ning lastekeelekopruse <a href="https://childes.talkbank.org/browser/index.php?url=Other/Estonian/">CHILDES</a> eesti keele alamkorpused Vija, Kapanen ja Zupping);
			</li>
			<li>tuumsus (vt lähemalt <a href="https://dspace.ut.ee/handle/10062/40738">Pajusalu, R., Tragel, I., Veismann, A., Vija, M. 2004. Tuumsõnade semantikat ja pragmaatikat. Tartu.)</a>;
			</li>
			<li>kasutatavus suulises ja kirjalikus tekstiloomes (vt lähemalt <a href="http://arhiiv.rakenduslingvistika.ee/ajakirjad/index.php/aastaraamat/article/view/ERYa5.12/96">Pajupuu, H., Kerge, K., Alp, P. 2009. Sõnavara loomulik rikkus haritud keeleoskaja tekstides. – Eesti rakenduslingvistika ühingu aastaraamat V. Tallinn.</a>);
			</li>
			<li>vajalikkus igapäevaelu valdkondades;
			</li>
			<li>sõnavara ajakohasus.
			</li>
		</ol>
		</div>
	  <p>Sõnad on esitatud algvormis, mis aga ei tähenda, et keeleõppija oskab moodustada ja kasutada nende sõnade kõiki vorme. Näiteks omandatakse sõna <i>tohtima</i> esimesena kindla kõneviisi eitavas vormis <i>ei tohi</i>. Keelepagasi sõnavormipõhist ulatust iseloomustavad andmed lisatakse. Ei analüüsitud ka sõnade eri tähenduste tasemekohasust, mis kuulub samuti edasiarenduste hulka.<br />
	  <br />
	  Kui sõna kuulub kahte sõnaliiki (nt <i>hea</i> – nii omadussõna kui ka nimisõna), analüüsitakse iga sõnaliigi tasemekohasust eraldi.<br />
	  <br />
	  Eri tasemete sõnavara suuruse määramisel on lähtekohaks Krista Kerge koostatud käsiraamat <a href="https://www.etis.ee/Portal/Publications/Display/d34c6a8e-f6c7-44d1-8442-622b041b549b">„Funktsionaalse keeleoskuse taseme määratlemine“ (1996)</a>, mille kohaselt ulatub eesti keelt algtasemel valdava inimese sõnavara 1500–2000 sõnani, kesktaseme korral aga umbes 5000 sõnani.<br />
	  </p>	  
      <h4 class="jumptarget" id="item-6">Noore keeleõppija sõnavaraloendid </h4>
      <p>Noore keeleõppija sõnavaraloendid sisaldavad umbkaudu 6300 sõna. Tasemekirjelduste vastavused keelepädevusega on järgmised: eelA1 = koolieelikud (6–7-aastased), A1 = I kooliaste (1.–3. klass), A2 = II kooliaste (4.–6. klass), B1 = III kooliaste (7.–9. klass) ja B2 = gümnaasium (10.–12. klass). Noore keeleõppija C1 sõnavaraloend sisaldab sõnu, mis on esinenud gümnaasiumi astme kooliõpikutes, kuid mille esinemissagedus üldkeele korpustes on väga madal.<br />
        <br />
        <b>Koolieelikute (eelA1)</b> sõnaloend on koostatud alusharidust omandava keeleõppija vajadusi silmas pidades ja seda sobib kasutada alushariduse õppevara koostamisel. Sõnaloend sisaldab koolieelse lasteasutuse riikliku õppekava kõnearendusteemadest tulenevalt 6–7-aastase keeleõppija sõnavara. Loendi koostamisel on kasutatud järgmisi allikmaterjale:</p>
      <div class="container">
		<ol>
			<li>lastekeelekopruse <a href="https://childes.talkbank.org/browser/index.php?url=Other/Estonian/">CHILDES</a> eesti keele alamkorpused Vija, Kapanen ja Zupping;
			</li>
			<li>Haridus- ja Teadusministeeriumi ekspertide Tiina Petersoni ja Viivian Jõemetsa sõnaloendi algset ettepanekut;
			</li>
			<li><a href="https://entu.keeleressursid.ee/shared/7630/r7n5nKdfHVmIQroOW84zB9J8d25lA24G7pY3Sz9ESJn3Ba8mBXSOt1HVXjYyk7cn">Argus, R., Maiberg, L., Koho, M., Kallas, J., Koppel, K. 2019. Eesti keele kui teise keele sõnavara koolieelikutele. Tallinn: Eesti Keele Instituut.</a>;
			</li>
			<li>eesti keelest erineva kodukeelega laste keeleõppeks välja töötatud <a href="https://www.innove.ee/oppevara-ja-metoodikad/muu-kodukeelega-laps/abimaterjalid-lasteaedadele/">materjale</a> lasteaedadele ja õpetajatele.
			</li>
		</ol>
		</div>
      <p>Lastekeelekorpuse <a
        href="https://childes.talkbank.org/browser/index.php?url=Other/Estonian/">CHILDES</a> eesti keele alamkorpused sisaldavad eesti emakeelega laste ja nende vanemate spontaanse kõne lindistusi, mis on tehtud kodustes igapäevasituatsioonides nagu söömine, mängimine, riietumine jms.  Spontaanse suulise kõne keelematerjal sobib sõnaloendi aluseks seetõttu, et esimese ja teise keele omandamine kulgeb suures osas sarnaselt ning nii nagu ükskeelne laps vajab ka kakskeelne laps sõnavara, mis võimaldab tal suhelda mitteformaalsetes lapsekesksetes igapäevasituatsioonides.<br />
        <br />
        Koolieelikute sõnaloendi koostamisel lähtuti sõnade valikul peamiselt sellest, mis vanuses laste kõnes teatud sõna korpuses esineb ning kui sage see laste ja nende vanemate keelekasutuses on. Näiteks kui sõna esineb eesti keelt emakeelena omandavate laste kõnes enne nende kaheaastaseks saamist ja on alamkorpuses sage, siis on põhjust arvata, et see sõna on omane lapsekesksetele kõnesituatsioonidele ning sellisena vajalik ka eesti keelt kui teist keelt omandavatele lastele. Samas on oluline rõhutada, et kuna teise keele õppija keelekonstruktsioonid on lihtsamad kui emakeele omandajal, siis on sõnaloend väiksema mahuga kui lapse sõnavara emakeeles.<br />
        <br />
        Koolieelikute sõnaloendite koostamisel analüüsiti süstemaatiliselt ka temaatilist sõnavara (kehaosad, loomad, linnud, toit, transport jms) ning lasteaia rühmaruumiga seotud sõnavara (rühmaruumis olevad asjad ja lasteaia tegevustes kasutatavad vahendid), lisati Eesti kultuuri tundmise seisukohalt oluline sõnavara, nt riiklike ja rahvakalendri tähtpäevade ning riigipühade nimetused (jaanipäev, emadepäev, isadepäev, vastlapäev jms).<br />
        <br />
        Suurem osa Eesti lasteaedu on liitunud programmiga „Kiusamisest vaba lasteaed“ ja tervist edendavate lasteaedade võrgustikuga. Seetõttu on sõnaloendis algul raskena tunduvaid sõnu, kuid need on vajalikud vastavates programmides osalemise tõttu.<br />
        <br />
        <b>Noore keeleõppija</b> A1-, A2-, B1- ja B2-taseme sõnaloendite koostamisel on kasutatud järgmisi allikmaterjale:</p>
      <div class="container">
		<ol>
        <li><a
          href="https://doi.org/10.15155/1-00-0000-0000-0000-001A5L">Eesti
          keele õppija korpus EMMA</a>;
        </li>
        <li><a
          href="https://doi.org/10.15155/3-00-0000-0000-0000-0888BL">„Eesti keele kui teise keele kooliõpikute sisu korpus 2021“</a>. Korpus sisaldab 27 õpikut 1.–12. klassile, millest kasutati 3., 6., 9. ja 12. klassi õpikuid.
        </li>
		</ol>
	  </div>
      <p>Võrdlusmaterjalina kasutati täiskasvanute sõnavaraloendeid. Erinevused täiskasvanud ja noore keeleõppija sõnavaravalikus on tingitud eelkõige sihtrühmade kognitiivse, sotsiaalse ja kogemusliku võimekuse ning keelekasutuse põhivaldkondade erinevusest. Noore keeleõppija puhul on lisaks arvestatud ka riiklikust õppekavast tulenevaid eesmärke ja oodatavaid tulemusi.<br />
      </p>
      <h4 class="jumptarget" id="item-7">Täiskasvanute sõnavaraloendid</h4>
      <p>Täiskasvanute puhul on eristatud algtasemel keeleõppija (A1 ja A2), iseseisev keelekasutaja (B1 ja B2) ja vilunud keelekasutaja (C1 ja C2). Loend sisaldab ligikaudu 12 500 sõna.<br />
        <br />
        Täiskasvanute sõnavaraloendite koostamisel olid aluseks kolme tüüpi allikad.<br />
        <br />
        1. Seni ilmunud keeleoskustasemete sõnavara kirjeldused</p>
      <div class="container">
        <ul style="list-style-type:disc;">
          <li><a href="https://www.ester.ee/record=b1230005*est">Laur, M. 1998. Tuumiksõnade loend.
            –
            M. Laur. 1998. Esimene verstapost. Eesti keele suhtluse algtase. Tallinn: REKK;</a></li>
          <li><a
            href="https://www.innove.ee/wp-content/uploads/2017/12/Algaja-keelekasutaja.-A2-tase.pdf">Kerge,
            K., Pajupuu, H., Ilves, M. 2008. Esmane sõnastik. – M. Ilves. Algaja keelekasutaja.
            A2-taseme eesti keele oskus. Tallinn: Eesti Keele Sihtasutus, Tallinna Ülikool, Haridus-
            ja Teadusministeerium;</a></li>
          <li><a href="https://www.ester.ee/record=b1011622*est">Ehala, M., Saarso, K., Vare, S.,
            Õispuu, J. 1997. Suhtlusläve sõnaindeks. – Eesti keele suhtluslävi. Kultuurikoostöö
            Nõukogu. Strasbourg: Council of Europe Publishing.</a></li>
        </ul>
      </div>
      <p>2. Eesti Keele Instituudis koostatud õppesõnastikud ja sõnaloendid</p>
      <div class="container">
        <ul style="list-style-type:disc;">
          <li><a href="https://www.ester.ee/record=b1217684*est">Pärn, H., Simm, L. 1989. Eesti
            keele
            baassõnastik = Базовый словарь эстонского языка. Tallinn: Keele ja Kirjanduse
            Instituut;</a></li>
          <li><a href="http://www.eki.ee/dict/psv/">Eesti keele põhisõnavara sõnastik 2015.
            Veebiväljaanne. Koostanud ja toimetanud M. Tuulik, M. Tiits, J. Kallas, K. Koppel ja M.
            Jürviste. Tehniline tugi: I. Hein, Ü. Viks ja A. Teesalu;</a></li>
          <li><a href="http://www.eki.ee/dict/kol/index.cgi">Eesti keele naabersõnad 2018.
            Veebiväljaanne. Koostanud ja toimetanud J. Kallas, K. Koppel, G. Paulsen ja M. Tuulik.
            Tehniline tugi: I. Hein ja Ü. Viks; </a></li>
          <li><a
            href="https://entu.keeleressursid.ee/shared/7612/BZlcLkmv70Wr98Ex3j80yMyXLGY69xE9rM0wGfloW0JBxTBeRVFLRsS2sssYY7Do">Kallas,
            J., Koppel, K. 2018. Eesti keele A1-taseme sõnavara. Tallinn: Eesti Keele Instituut;</a>
          </li>
          <li><a
            href="https://entu.keeleressursid.ee/shared/7624/VhWFGjRGVFkuPOAR1CDkAmeZA6aLcWI4nlflQUdhXyHAJKzAy4mhRHrdtINyB59H">Kallas,
            J., Koppel, K. 2018. Eesti keele A2-taseme sõnavara. Tallinn: Eesti Keele Instituut;</a>
          </li>
          <li><a
            href="https://entu.keeleressursid.ee/shared/7627/q2HmwInAR9UvOhTKtyGDBtff05z7oojLn8srxJqlKt6rvGkSqjHBjGjuXHZRVo9C">Kallas,
            J., Koppel, K. 2018. Eesti keele B1-taseme sõnavara. Tallinn: Eesti Keele Instituut.</a>
          </li>
        </ul>
      </div>
      <p>3. Eesti keele korpused</p>
      <div class="container">
        <ul style="list-style-type:disc;">
          <li><a
            href="https://doi.org/10.15155/3-00-0000-0000-0000-06ADEL">„Eesti keele A1–C1 õpikute sisu korpus 2017“</a>;
          </li>
          <li><a
            href="https://doi.org/10.15155/3-00-0000-0000-0000-071E7L">„Eesti keele ühendkorpus 2017“</a>.
          </li>
        </ul>
      </div>
      <p>Loendid koostati mitmes etapis.<br />
        <br />
        Alustuseks loodi seni koostatud sõnavaraloenditest ühtne elektrooniline andmebaas, mis võimaldas välja selgitada loenditevahelisi kattuvusi ja erinevusi. Analüüsi käigus kõrvaldati vananenud sõnavara, näiteks <i>ühiskorter</i>, <i>kooperatiivkorter</i>, <i>komposteerima</i>, <i>panderoll</i>, <i>telefonikabiin</i>, <i>videomagnetofon</i>, <i>kassettmagnetofon</i>.<br />
        <br />
        Seejärel lisati andmebaasi <a
            href="https://doi.org/10.15155/3-00-0000-0000-0000-06ADEL">„Eesti keele A1–C1 õpikute sisu korpuse 2017“</a> ja <a
            href="https://doi.org/10.15155/3-00-0000-0000-0000-071E7L">„Eesti keele ühendkorpuse 2017“</a> andmed. Kokku oli õpikutes kasutatud ligikaudu 13 000 sõna. Andmebaasi otsustati jätta vaid sõnad, mis esinesid õpikus vähemalt kaks korda. „Eesti keele ühendkorpuse 2017“ alusel genereeritud sagedusloend (umbes 60 000 sõna) võimaldas kontrollida senistes loendites ja õpikutes kasutatud sõnavara ajakohasust ning lisada korpuses sagedasti esinevaid sõnu, mis olid varasematest loenditest ja ka õpikute tekstist välja jäänud.
      </p>
      <h3 class="jumptarget" id="item-8">Grammatika</h3>
      <p>
        Grammatikapädevuse kirjeldus annab ülevaate, mida keelekasutaja või keeleõppija vormi-, sõna-, fraasi- ja lausemoodustuse tasandil teha oskab ja kui hästi ta seda oskab. Moodulis on seni esitatud vaid noore keeleõppija grammatikapädevuse arengu kirjeldus. Kirjeldatakse koolieelikute (eelA1 = 6–7-aastased), 3. klassi lõpetajate (A1 = I kooliaste), 6. klassi lõpetajate (A2 = II kooliaste), 9. klassi lõpetajate (B1 = III kooliaste) ja 12. klassi lõpetajate (B2 = gümnaasium) oodatavat grammatikapädevust, mis on abiks õppekavade, kursuste ja harjutusvara koostamisel.<br />
        <br />
        Grammatikapädevuse kirjeldamisel on lähtekohaks eelkõige:</p>
      <ol>
        <li><a
          href="https://doi.org/10.15155/3-00-0000-0000-0000-0888BL">„Eesti keele kui teise keele kooliõpikute sisu korpus 2021“</a>;
        </li>
        <li><a
          href="https://doi.org/10.15155/3-00-0000-0000-0000-0888DL">„Eesti keele kui teise keele kooliõpikute lausete korpus 2021“</a>;
        </li>
        <li><a
          href="https://doi.org/10.15155/1-00-0000-0000-0000-001A5L">Eesti
          keele õppija korpus EMMA</a>;
        </li>
		<li>Eesti Keele Instituudi läbiviidud koolieelikute ja I kooliastme grammatikapädevuse valideerimise ja tekstikorje pilootprojektis (2020 sügis) õpetajatelt kogutud grammatika omandamise hindamise ankeedid, õpilaste näitelaused ja originaaltekstid;
		</li>
        <li>lastekeelekorpuse <a
          href="https://childes.talkbank.org/browser/index.php?url=Other/Estonian/">CHILDES</a>
          eesti
          keele alamkorpused Vija, Kapanen ja Zupping. Korpused sisaldavad laste ja nende vanemate
          argisuhtluse lindistusi. CHILDES alamkorpusi kasutati eelA1-taseme grammatikapädevuse kirjeldamisel.
        </li>
      </ol>
      Esmalt analüüsiti kooliõpikute sisu korpuse põhjal, mida on õpikute autorid seni pidanud oluliseks õpetada. Veendumaks, et kirjeldused vastavad õppija tegelikele saavutustele, võrreldi grammatiliste kategooriate esinemist EMMA korpuse teise keele õppija tekstidega. Kui kategooria seal esines, siis kirjeldati see vastaval keeleoskustasemel. <br />
      <br />
      Grammatikapädevuse kirjeldus on üles ehitatud laienevalt: lihtsamast keerulisemani. Sama kategooria on sageli kirjeldatud mitmel keeleoskustasemel (<i>oskab</i>-lauses), kuid kasutusfunktsioone ja piiranguid (kui tihti õppija eksib ja milles eksimus seisneb) on täpsustatud vastavalt keeleoskuse arengule. Selline kirjeldus aitab ühelt poolt keeleoskustasemeid eristada ning teiselt poolt seada edasisi eesmärke.<br />
      <br />
      Kirjeldus on esitatud lähtuvalt peakategooriatest (vormi-, sõna-, fraasi- ja lausemoodustus), millel on kokku 19 alamkategooriat. Igal alamkategoorial on grammatilised tunnused (nt vormimoodustuse osas on nimisõnal tunnused <i>arv</i> ja <i>kääne</i>). Igal tunnusel on omakorda tunnuse
      liigid (nt tunnusel <i>arv</i> on liigid <i>ainsus</i> ja <i>mitmus</i>). Tunnused ja nende liigid võimaldavad päringu tulemusi kitsendada ja filtreerida. Nii saab vormimoodustuse osas vaadata näiteks nimisõna sisseütlevat käänet puudutavaid ridu. Iga kirjelduse kohta on ka põhjalikum <i>Lisainfo</i> vaade.<br />
	  <br />
      <div class="table-responsive-md">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">PEAKATEGOORIA</th>
            <th scope="col">ALAMKATEGOORIA</th>
            <th scope="col">Tunnus</th>
            <th scope="col">Tunnuse liik</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>VORMIMOODUSTUS</td>
            <td>TEGUSÕNA</td>
            <td>kõneviis</td>
            <td>kindel, tingiv, käskiv, kaudne, möönev</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>tegumood</td>
            <td>isikuline, umbisikuline</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>aeg</td>
            <td>olevik, lihtminevik, täisminevik, enneminevik</td>
          </tr>
		  <tr>
            <td></td>
            <td></td>
            <td>pööre</td>
            <td>1, 2, 3</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>arv</td>
            <td>ainsus, mitmus</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>tegevusnimed</td>
            <td>-<i>ma</i>, -<i>da</i>, -<i>vat</i></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>käändelised vormid</td>
            <td>-<i>mas</i>, -<i>mast</i>, -<i>maks</i>, -<i>mata</i>, -<i>des</i></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>kesksõnad</td>
            <td>-<i>v</i>, -<i>tav</i>, -<i>nud</i>, -<i>tud</i></td>
          </tr>
          <tr>
            <td></td>
            <td>NIMISÕNA</td>
            <td>arv</td>
            <td>ainsus, mitmus</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>kääne</td>
            <td>nimetav, omastav, osastav, sisseütlev, lühike sisseütlev, seesütlev, seestütlev,
              alaleütlev, alalütlev, alaltütlev, saav, rajav, olev, ilmaütlev, kaasaütlev
            </td>
          </tr>
          <tr>
            <td></td>
            <td>OMADUSSÕNA</td>
            <td>arv</td>
            <td>ainsus, mitmus</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>kääne</td>
            <td>nimetav, omastav, osastav, sisseütlev, lühike sisseütlev, seesütlev, seestütlev,
              alaleütlev, alalütlev, alaltütlev, saav, rajav, olev, ilmaütlev, kaasaütlev
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>võrdlusaste</td>
            <td>algvõrre, keskvõrre, pikk ülivõrre, lühike ülivõrre</td>
          </tr>
          <tr>
            <td></td>
            <td>ARVSÕNA</td>
            <td>arv</td>
            <td>ainsus, mitmus</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>kääne</td>
            <td>nimetav, omastav, osastav, sisseütlev, lühike sisseütlev, seesütlev, seestütlev,
              alaleütlev, alalütlev, alaltütlev, saav, rajav, olev, ilmaütlev, kaasaütlev
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>arvsõnaliik</td>
            <td>põhiarvsõna, järgarvsõna</td>
          </tr>
          <tr>
            <td></td>
            <td>ASESÕNA</td>
            <td>arv</td>
            <td>ainsus, mitmus</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>kääne</td>
            <td>nimetav, omastav, osastav, sisseütlev, lühike sisseütlev, seesütlev, seestütlev,
              alaleütlev, alalütlev, alaltütlev, saav, rajav, olev, ilmaütlev, kaasaütlev
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>asesõnaliik</td>
            <td>isikuline, enesekohane, vastastikune, näitav, küsiv-siduv, umbmäärane</td>
          </tr>
          <tr>
            <td></td>
            <td>MÄÄRSÕNA</td>
            <td>võrdlusaste</td>
            <td>algvõrre, keskvõrre, pikk ülivõrre, lühike ülivõrre</td>
          </tr>
          <tr>
            <td>SÕNAMOODUSTUS</td>
            <td>TEGUSÕNAMOODUSTUS</td>
            <td>tuletus</td>
            <td>sufiksituletus, prefiksituletus</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>liitmine</td>
            <td>liitsõnamoodustus</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>ühendid</td>
            <td>ühendverb, väljendverb, ahelverb</td>
          </tr>
          <tr>
            <td></td>
            <td>NIMISÕNAMOODUSTUS</td>
            <td>tuletus</td>
            <td>sufiksituletus, prefiksituletus</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>liitmine</td>
            <td>liitsõnamoodustus</td>
          </tr>
          <tr>
            <td></td>
            <td>OMADUSSÕNAMOODUSTUS</td>
            <td>tuletus</td>
            <td>sufiksituletus, prefiksituletus</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>liitmine</td>
            <td>liitsõnamoodustus</td>
          </tr>
          <tr>
            <td></td>
            <td>MÄÄRSÕNAMOODUSTUS</td>
            <td>tuletus</td>
            <td>sufiksituletus, prefiksituletus</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>liitmine</td>
            <td>liitsõnamoodustus</td>
          </tr>
          <tr>
            <td>FRAASIMOODUSTUS</td>
            <td>NIMISÕNAFRAAS</td>
            <td>laiend</td>
            <td>omadussõna, nimisõna, arvsõna, määrsõna, asesõna, kaassõnafraas,
              <i>ma</i>-/<i>da</i>-tegevusnimi
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>ühildumine</td>
            <td>täielik, mittetäielik, ühildumatu</td>
          </tr>
          <tr>
            <td></td>
            <td>HULGAFRAAS</td>
            <td>põhi</td>
            <td>põhiarvsõna, asesõna, nimisõna, määrsõna</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>laiend</td>
            <td>nimisõna</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>laiendi kääne</td>
            <td>omastav, seestütlev</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>laiendi arv</td>
            <td>ainsus, mitmus</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>ühildumine</td>
            <td>täielik, mittetäielik, ühildumatu</td>
          </tr>
          <tr>
            <td></td>
            <td>OMADUSSÕNAFRAAS</td>
            <td>laiend</td>
            <td>nimisõna, määrsõna, kaassõnafraas, <i>ma</i>-/<i>da</i>-tegevusnimi</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>laiendi kääne</td>
            <td>omastav, sisseütlev, seesütlev, seestütlev, alaleütlev, alalütlev, alaltütlev, saav,
              rajav, olev, ilmaütlev, kaasaütlev
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>ühildumine</td>
            <td>täielik, mittetäielik, ühildumatu</td>
          </tr>
          <tr>
            <td></td>
            <td>MÄÄRSÕNAFRAAS</td>
            <td>laiend</td>
            <td>määrsõna, nimisõna, kaassõnafraas</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>laiendi kääne</td>
            <td>omastav, osastav, seestütlev, saav, rajav, olev, ilmaütlev, kaasaütlev</td>
          </tr>
          <tr>
            <td></td>
            <td>KAASSÕNAFRAAS</td>
            <td>laiend</td>
            <td>nimisõna</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>laiendi kääne</td>
            <td>omastav, osastav, seestütlev, rajav, ilmaütlev, kaasaütlev</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>kaassõnaliik</td>
            <td>eessõna, tagasõna</td>
          </tr>
          <tr>
            <td></td>
            <td>TEGUSÕNAFRAAS</td>
            <td>laiend</td>
            <td>nimisõna, omadussõna, määrsõna, tegusõna käändeline vorm, kaassõnafraas,
              tegevusnimi,
              <i>des</i>-vorm
            </td>
          </tr>
		  <tr>
            <td>LAUSEMOODUSTUS</td>
            <td>LAUSE KEERUKUS</td>
            <td>lihtlause</td>
            <td>lihtlause, väljajätteline lause</td>
          </tr>
		  <tr>
            <td></td>
            <td></td>
            <td>liitlause</td>
            <td>rindlause, põimlause</td>
          </tr>
		  <tr>
            <td></td>
            <td></td>
            <td>lauselühend</td>
            <td>lauselühend</td>
          </tr>
		  <tr>
            <td></td>
            <td></td>
            <td>sidumine</td>
            <td>sidesõnaga, sidendiga</td>
          </tr>
		  <tr>
            <td></td>
            <td>LAUSE TÜÜP</td>
            <td>lause põhitüüp</td>
            <td>normaallause, omajalause, kogejalause, olemasolulause, tulemuslause</td>
          </tr>
		  <tr>
            <td></td>
            <td></td>
            <td>suhtluseesmärk</td>
            <td>väitlause, küsilause, käsklause, soovlause, hüüdlause</td>
          </tr>
		  <tr>
            <td></td>
            <td></td>
            <td>rõhuasetus</td>
            <td>üte, kiil, modaalid</td>
          </tr>
		  <tr>
            <td></td>
            <td></td>
            <td>eitusliik</td>
            <td>täiseitus, lauseline eitus</td>
          </tr>
          </tbody>
        </table>
      </div>
      <br />
      <p>Iga kirjelduse juures on esitatud ka näitelaused, mis illustreerivad kirjeldatud kategooria
        kasutamist. Lauseid on kolme tüüpi: projekti grammatikaekspertide koostatud laused
        (põhikoostajad on Raili Pool, Reili Agrus ja Annika Bauer), õpikute laused (allikas: <a
          href="https://doi.org/10.15155/3-00-0000-0000-0000-0888DL"> „Eesti keele kui teise keele kooliõpikute lausete korpus 2021“</a>) ja õppijakeele laused (allikas: <a
          href="https://doi.org/10.15155/1-00-0000-0000-0000-001A5L">eesti keele õppija korpus EMMA</a>, seal hulgas instituudi pilootprjekti käigus partnerõpetajate abil kogutud koolieelikute ja 3. klassi õpilaste lausete andmebaas). Iga lause juures on näidatud selle allikas. Tasemetel eelA1–B1 kuvatakse õpikute ja õppijakeele laused ainult <i>Lisainfo</i> vaates, otsingutulemuse all kuvatakse  projekti grammatikaekspertide laused. B2-tasemel kuvatakse otsingutulemuste all õpikute lauseid ja lisainfo all õppijakeele lauseid. <br />
		  <br />
		  Vormimoodustuse kirjeldustes on lisatud ka grammatilise kategooria süntaktiline funktsioon, näiteks <i>järgarvsõna ainsuse nimetavas</i> süntaktilised funktsioonid on <i>täiend</i> ja <i>öeldistäide</i>. Funktsioonid kuvatakse samuti ainult <i>Lisainfo</i> vaates.<br />
        <br />
        Koolieelikute ja noore keeleõppija A1-taseme kirjelduste valideerimisel lähtuti pilootprojekti käigus kogutud andmetest. Projekti 1. etapil tugineti koolieelikute grammatikapädevuse kirjeldamisel lisaks ka eesti keelt emakeelena omandava lapse keelepädevusele: grammatilised kategooriad, mis on esimese keele omandajate varases repertuaaris, omandatakse varakult ka siis, kui laps omandab teist keelt. Kasutuspõhiste keeleomandamisteooriate järgi omandatakse varakult need kategooriad, mis on sagedased ja produktiivsed (vt nt <a
          href="https://doi.org/10.1007/s11525-011-9198-1">Dressler, Wolfgang U. 2012. On the acquisition of inflectional morphology: Introduction. – Morphology, 22, 1, lk 1–8</a>; <a
          href="https://doi.org/10.1515/9783110910186.391">Dressler, Wolfgang. U., M. Kilani-Schoch, S. Klampfer 2002. How does a child detect morphology? Evidence from production. Trends in Linguistics. Studies and Monographs 151, lk 391–425. Berlin: Mouton de Gruyter</a>). Kasutuspõhiste lähenemiste ideestikuga on seotud ka arusaam tüüpilisest keeleomandamise keskkonnast ja keelendite sagedusest. Eeldatakse, et koolieelik omandab keele mitteformaalses situatsioonis lapsekesksele keskkonnale omaste igapäevategevuste ja suhtluse käigus (nt lasteaias mängulistes tegevustes, mitte niivõrd koolitunnis). Seetõttu vajab koolieelik eelkõige neid kategooriaid ja vorme, mis on igapäevasituatsioonides kõige sagedasemad.  Laste suulise kõne korpust (<a href="https://childes.talkbank.org/browser/index.php?url=Other/Estonian/">CHILDES</a>) analüüsides on kategooriate esitamisel lähtutud kolmest tingimusest:</p>
		  <div class="container">
			<ol>
				<li>grammatiline kategooria esines korpuses juba varases eas (enne kolmeaastaseks saamist); </li>
				<li>grammatiline kategooria oli L1 laste kõnes produktiivselt omandatud (st sama vormi kasutas laps mitmest sõnast ning vähemalt ühest sõnast oli kasutatud ka teisi vorme) enne kolmeaastaseks saamist; </li>
				<li>grammatiline kategooria oli L1 laste kõnes sage (st vorme, mida lastekeelekorpuses leidus vaid 2-3 korral, L2 grammatilises profiilis ei esitatud).</li>
			</ol>
		  </div>
	  <h3 class="jumptarget" id="item-9">Kasutusolukorrad</h3>
      <p>
		Kasutusolukordade moodul kirjeldab keeleoskustasemetele iseloomulikke keelekasutusolukordi ning näitab, millistel tingimustel/piirangutel eri tasemel keelekasutaja toime tuleb. Kirjelduse aluseks on <a href="https://rm.coe.int/common-european-framework-of-reference-for-languages-learning-teaching/16809ea0d4">raamdokumendi sõsarväljaande (2018)</a> suhtlustoimingute liigitus (teksti vastuvõtt, teksti loome, suhtlus, vahendamine) ja tasemekirjelduste näidisskaalad (<i>illustrative descriptor scales</i>). Näidisskaalade valikus on esitatud skaalade pealkirjad (nt üldine rääkimisoskus, suuline esinemine jne).<br />
		<br />
        Kasutusolukordade näited on võetud Euroopa Nõukogu koostatud noorte õppijate tasemekirjeldustest vanustele <a href="https://rm.coe.int/CoERMPublicCommonSearchServices/DisplayDCTMContent?documentId=0900001680697fca">7–10</a> ja <a href="https://rm.coe.int/CoERMPublicCommonSearchServices/DisplayDCTMContent?documentId=0900001680697fc9">11–15</a>, mille aluseks on eri riikide Euroopa Keelemappide enesehindamisskaalad. Sellest tulenevalt on kasutusolukordade näited sõnastatud <i>mina</i>-vormis.<br />
		<br />
        Keelekasutusolukorra tunnused on suhtlusvorm (suuline, kirjalik), teema, tekstiliik ja tekstitüüp. Tunnuseid kasutades tuleb arvestada, et tegemist ei ole lõplike loeteludega, vaid näidetega, mis antud kasutusolukorda ja keeleoskustaset iseloomustavad.<br />
		<br />
		Kui kasutusolukorra näide või mõni tunnustest kirjeldusest puudub, siis ei olnud seda võimalik algmaterjali põhjal välja tuua. Sel põhjusel on ka vahendusoskustest esindatud vaid teksti vahendamine. <br />
		<br />
		Mooduli eesmärk on raamdokumendi skaalasid õpilastele eakohaselt tõlgendada. Noore keeleõppija keeleoskustasemed on kirjeldatud järgmiselt: A1- ja A2-taseme kasutusolukorrad on sobivad vanusele 7–10 a ning B1- ja B2-taseme kasutusolukorrad on sobivad vanuserühmale 11–15 a.<br />
		<br />
		Kirjelduse rubriigis kuvatakse esimesel real keelekasutusolukord. Sellele järgneb piirang ehk millistel tingimustel keelekasutaja suhtlusülesandega toime tuleb või mida tal on selleks veel vaja, et ühe või teise suhtlusülesandega toime tulla. Kasutusolukorrad on illustreeritud <i>oskan</i>-nendingutega ehk noore keeleõppija enda oskuste kirjeldustega konkreetsetest olukordadest, mis põhinevad noore keeleõppija tasemekirjeldustes esitatud olukorrakirjeldustel. Viimasena kuvatakse tunnuste kujul suhtlusvormi, teema, tekstiliigi ja tekstitüübi näiteid – nende alusel on samuti võimalik tulemusi filtreerida. <br />
	  </p>
      <h3 class="jumptarget" id="item-10">Teksti sõnavara hindamine</h3>
      <p>
        Teksti hindamise tööriist aitab määrata sõnade keerukust tekstis ja on abiks otsustamisel, kas tekst on lugejale tasemekohane. Teksti sõnavara hindamisel (keeleoskustaseme määramisel) on aluseks noore keeleõppija ja täiskasvanute sõnavaraloendid. Tööriist ei anna seega tagasisidet teksti kui terviku kohta, vaid käsitleb sõnu eraldiseisvatena. Käsil on arendus, kus teksti hindamise tööriist arvestaks ka grammatilist keerukust ja vaatleks teksti tervikuna.<br />
        <br />
        Teksti hindamise tööriist töötab eesti keele töötlusprogrammi <a
        href="https://github.com/estnltk/estnltk">estNLTK v 1.6</a> teekidel, mis pakuvad tekstide töötlemiseks vajalikke funktsioone (lemmatiseerimist ehk sõnade algvormide leidmist ja morfoloogilist analüüs ehk sõna grammatilise vormi, nt käände või pöörde, tuvastamist). Kuna tegemist on automaattöötlusega, siis võib esineda vigu. Hindamine toimub lemmapõhiselt ehk sõna algvormi alusel, arvestamata sõnade eri tähenduste ja homonüümide tasemekohasust.  Homonüümide puhul (nt <i>tamm</i> ‘puu’ ja <i>tamm</i> ‘veevoolu
        tõkestav rajatis’) annab programm madalama keeletaseme hinnangu. Samuti ei analüüsi programm
        eraldi mitmesõnalisi üksusi, nagu näiteks ühend- (nt <i>lahku minema</i>) ja väljendverbid
        (nt
        <i>silma paistma</i>).<br />
        <br />
		Enne teksti hindamist tuleb määrata, kas seda soovitakse teha noore keeleõppija või täiskasvanu sõnavaraloendite põhjal. Vaikimisi on valitud täiskasvanud keeleõppija. Hinnatav tekst tuleb sisestada vasakpoolsesse kasti. Keskmisse kasti ilmub hinnatud tekst, kus iga sõna on värvitud vastavalt keeleoskustasemele (määramata sõnad jäävad hindamata). Hinnatud teksti kastis kursoriga liikudes kuvatakse ka iga sõna sõnaliik. Parempoolses kastis on näha statistika kogu teksti kohta – mitu sõna tekstis on ning kuidas need sõnad protsentuaalselt keeleoskustasemete vahel jaotuvad. See võimaldab hinnata, kas tekst on konkreetsele keeleoskustasemele vastav või vajab see lihtsustamist.<br />
      </p>
      <h3 class="jumptarget" id="item-11">Kuidas viidata</h3>
      <p>
        Õpetaja tööriistades esitatud infole palume viidata nii:<br />
        Eesti keele kui teise keele õpetaja tööriistad. DOI: <a href="https://doi.org/10.15155/3-00-0000-0000-0000-08357L">10.15155/3-00-0000-0000-0000-08357L</a>; <a
        href="https://sonaveeb.ee/teacher-tools">https://sonaveeb.ee/teacher-tools</a> (20.01.2021)
      </p>
      <h3 class="jumptarget" id="item-12">Kasutus- ja privaatsustingimused</h3>
      <p>
        <b>Õpetaja tööriistade kasutamine</b><br />
        <br />
        Õpetaja tööriistad on Eesti Keele Instituudi portaali Sõnaveeb alamleht. Õpetaja tööriistade keskkonnas pakutava teabe kohta kehtib litsents Creative Commons BY 4.0, mis tähendab, et materjali on lubatud töödelda ja esitada mis tahes vajalikul moel, näiteks õppematerjaliks, äpi loomiseks jne. Kommertskasutust ei piirata, kuid sellise rakenduse juures tuleb säilitada viide Eesti Keele Instituudile. Samuti tuleb kirjeldada omapoolseid muudatusi.<br />
        <br />
        <b>Kasutajate privaatsus</b><br />
        <br />
        Õpetaja tööriistade teenused on avaliku juurdepääsuga. Õpetaja tööriistade kasutaja kohta salvestatakse teavet, mis on vajalik vastavate teenuste mugavaks tarbimiseks. Kogume ainult teenuse pakkumisega seotud informatsiooni. Portaal kasutab e-teenuste osutamisel üldtunnustatud privaatsuspõhimõtteid.<br />
        <br />
        Isikuandmeid sisaldava teabe kogumisel ja säilitamisel lähtub portaal isikuandmete kaitse
        reeglitest.<br />
        <br />
        Portaal tagab kõikide andmete täpsuse ja vastavuse tegelikkusele.<br />
        <br />
        <b>Teave, mida portaal salvestab</b><br />
        <br />
        Portaali kasutamisega tekib meie serverisse teave kasutaja toimingute kohta (logid), mis
        sisaldab lisaks konkreetse teenuste kasutamise kirjetele järgnevat:</p>
      <div class="container">
        <ul style="list-style-type:disc;">
          <li>missuguseid teenuseid kasutati, milliseid tööriistu, sõnaloendeid, linke vms vaadati
            (nt
            otsingud, klikitud lingid, andmekogud);
          </li>
          <li>teenuse kasutamise aeg ja kasutaja IP aadress (unikaalne aadress kohtvõrgus, mille
            kaudu
            on vajadusel võimalik tuvastada kasutaja asukoht füüsilises võrgus);
          </li>
          <li>Õpetaja tööriistade alamleht kasutab ajutisi ehk seansi küpsiseid, mis kustuvad pärast sessiooni
            lõpetamist ja veebilehitseja sulgemist. Küpsiseid kasutatakse keelevaliku
            meeldejätmiseks.
          </li>
        </ul>
      </div>
      <p><b>Andmete hoiustamise aeg</b><br />
        <br />
        Kasutame kogutud statistilisi andmeid analüüside jaoks ühe aasta vältel pärast andmete kogumist.<br />
        <br />
        <b>Küsimused ja kommentaarid</b><br />
        <br />
        Palume kõik küsimused, tähelepanekud ja ettepanekud saata tagasiside vormi kaudu või Eesti
        Keele Instituudi e-posti aadressil eki@eki.ee.
      </p>
      <h3 class="jumptarget" id="item-13">Rahastajad</h3>
      <p>
        Eesti keele kui teise keele õpetaja tööriistade loomist on toetanud Haridus- ja Teadusministeeriumi <a href="https://www.hm.ee/et/digipoorde-programm">digipöörde
        programm</a> ning Haridus- ja Teadusministeeriumi üldhariduse osakond. Õpetaja tööriistade
        koostajad soovivad eraldi tänada Viivian Jõemetsa.
      </p>
      <h3 class="jumptarget" id="item-14">Meeskond</h3>
      <p>
        Projekti meeskond: Pilvi Alp (Haridus- ja Noorteamet, noore keeleõppija 
        keelekasutusolukordade moodul), Reili Argus (Tallinna Ülikool,
        koolieelikute sõnavaraloendid ja grammatikapädevuse kirjeldus), Annika Bauer (Tallinna
        Ülikool, koolieelikute grammatikapädevuse kirjeldus), Anu Epner (Haridus- ja Noorteamet, noore keeleõppija 
        keelekasutusolukordade moodul), Jelena
        Kallas (Eesti Keele Instituut, projektijuht, vanemarvutileksikograaf), Krista Kerge (Tallinna Ülikool, Eesti Keele
        Instituut; A1-B2-taseme keelepädevuse analüüs), Kristina Koppel (Eesti Keele Instituut, vanemarvutileksikograaf), Raili Pool (Tartu Ülikool, Eesti Keele Instituut;
        noore keeleõppija grammatikamoodul), Mai Tiits (Eesti Keele
        Instituut, grammatikapädevuse kirjelduste toimetamine), Katrin Tsepelina (Eesti Keele
        Instituut, vanemtarkvaraarendaja) ja Tiiu Üksik (Eesti Keele Instituut, arvutilingvist). Koolieelikute sõnaloendi koostamisel osalesid
        ekspertidena lasteaiaõpetaja ja eesti keele õpikute autor Lea Maiberg ning lasteaiaõpetaja
        Mariana Koho. Koolieelikute ja I kooliastme grammatikapädevuse valideerimise ja tekstikorje pilootprojektis (sügis 2020) osalesid õpetajad Diana Astok (Jõhvi Vene Põhikool, täielik keelekümblus), Veronika Dervojed (Tartu Lasteaed Annike, osaline keelekümblus), Lea Maiberg (Tallinna Tähekese lasteaed, kolmas õpetaja rühmas ja tavarühm), Oona Meel (Suur-Pae lasteaed, kolmas õpetaja rühmas), Anita Rüütel (Tartu Annelinna Gümnaasium, täielik keelekümblus), Valentina Shevina (Suur-Pae lasteaed, osaline keelekümblus) ja Olesja Suhhov (Jõhvi Vene Põhikool, tavaklass).</p>
      <h3 class="jumptarget" id="item-15">Kontakt</h3>
      <p>
        Jelena Kallas (EKI vanemarvutileksikograaf-projektijuht) jelena.kallas@eki.ee<br />
        Kristina Koppel (EKI vanemarvutileksikograaf) kristina.koppel@eki.ee<br />
        Tiiu Üksik (EKI arvutilingvist) tiiu.yksik@eki.ee<br />
        Katrin Tsepelina (EKI vanemtarkvaraarendaja) katrin.tsepelina@gmail.com
      </p>
    </div>
  </div>
  <a class="top-button" (click)="toTop()" title="Tagasi päisesse">
    <span class="icon icon-chevron-left"></span>
  </a>
</div>


