.dots ul {
  list-style-type: circle;
  margin-left: 40px;
}

.alpha ul {
  list-style-type: upper-roman;
  margin-left: 80px;
}

a {
  color: #0053B3;
}

.set-nav {
  top: 60px;
  position: sticky;
}
.jumptarget::before {
  content:"";
  display:block;
  height:100px; /* fixed header height*/
  margin:-100px 0 0; /* negative fixed header height */
}
