.dots ul {
  list-style-type: circle;
  margin-left: 40px;
}

.alpha ul {
  list-style-type: upper-roman;
  margin-left: 80px;
}

a {
  color: #0053B3;
}

.set-nav {
  top: 60px;
  position: sticky;
}

.jumptarget::before {
  content: "";
  display: block;
  height: 100px; /* fixed header height*/
  margin: -100px 0 0; /* negative fixed header height */
}

.table-sm th,
.table-sm td {
  border-top: 1px solid #D8D8D8;
  padding: 0.1rem;
}

.table-sm thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #D8D8D8;
}

.nav-link {
  padding: .0rem 1rem;
}

.set-nav {
  padding-top: 1rem;
}

@media (max-width: 767px) {
  .lang-lvl-text {
    font-size: 18px;
    width: 80%;
  }

  .form-control {
    padding: 0.35rem .75rem;
    font-size: 0.875rem;
  }
}
