<div id="item-0" class="container-fluid bottom-gutter row content-panel">
  <nav id="main" class="navbar navbar-light bg-light col-2 pl-0">
      <aside role="navigation" id="sidebar">
        <a class="nav-link" [routerLink]="['/about']" fragment="item-1" (click)="onAnchorClick()">Keeleoskustasemete
          määramine</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-2" (click)="onAnchorClick()">Sõnavaraloendid</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-3" (click)="onAnchorClick()">Koolieelikute
          sõnavaraloendid</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-4" (click)="onAnchorClick()">Noore keeleõppija (vanus
          7-15) sõnavaraloendid</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-5" (click)="onAnchorClick()">Täiskasvanute
          sõnavaraloendid</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-6" (click)="onAnchorClick()">Grammatika</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-7" (click)="onAnchorClick()">Grammatilise profiili
          koostamise allikmaterjalid</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-8" (click)="onAnchorClick()">Teksti sõnavara hindamine</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-9" (click)="onAnchorClick()">Kuidas viidata</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-10" (click)="onAnchorClick()">Kasutus- ja privaatsustingimused</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-11" (click)="onAnchorClick()">Kasutajate privaatsus</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-12" (click)="onAnchorClick()">Rahastajad</a>
        <a class="nav-link" [routerLink]="['/about']" fragment="item-13" (click)="onAnchorClick()">Lisainfo</a>
      </aside>
  </nav>
  <div class="col-2"></div>
  <div data-spy="scroll" data-target="#main" data-offset="0" class="col-8 pb-4 mb-4">
    <h3>Projektist</h3>
    <h4 id="item-1">Keeleoskustasemete määramine</h4>
    <p>
      <b> Täiskasvanute </b> sõnavara tasemekohasuse määramisel on aluseks „Euroopa keeleõppe raamdokument: õppimine,
      õpetamine,
      hindamine“ (Tartu: Haridus- ja Teadusministeerium, 2007) ning selle sõsarväljaanne (2018). Eristatakse kolme
      üldist
      taset (A, B ja C) ja kuut alajaotust (A1, A2, B1, B2, C1, C2). Tavapärane on mõõta esimese viie taseme sõnavara.
      C2-taseme sõnavara mõõtmist ei peeta vajalikuks, kuna sellel tasemel kõneleja valdab keelt juba haritud emakeelse
      kõneleja sarnaselt. <br><br>
      Sõnavara suuruse määramisel on lähtekohaks Krista Kerge koostatud „Funktsionaalse keeleoskuse taseme määratlemine“
      (Tallinn: Haridusministeerium, 1996), mille kohaselt ulatub eesti keelt algtasemel valdava inimese sõnavara
      1500–2000 sõnani, kesktaseme korral aga umbes 5000 sõnani. <br><br>
      <b> Noore keeleõppija </b> sõnavara ja grammatika tasemekohasuse määramisel on lisaks eelpool nimetatule aluseks
      <b> põhikooli
        riiklik õppekava (PRÕK) </b> https://www.riigiteataja.ee/akt/129082014020?leiaKehtiv. Eesti keel teise keelena
      (E2)
      kuulub ainevaldkonda „Võõrkeeled“, ainekavad on täpsemalt kirjeldatud PRÕKi Lisas 2
      https://www.riigiteataja.ee/aktilisa/1290/8201/4018/141m%20lisa2.pdf
      Kehtiva õppekava järgi on vene õppekeelega kooli 3. klassi lõpetaja oodatav eesti keele oskuse tase A1.2, 6.
      klassi
      lõpetajal A2.2 ja 9. klassi lõpetajal B1.2, hindamisel tuleb järgida eakohasuse printsiipi. (Uue valdkonnakava
      projekti järgi on õpitulemused kõrgemal tasemel, kuid 2019. aastal see veel ei kehti.) Võõrkeelte õpetamise
      eesmärk
      põhikoolis on kujundada õpilastes <b> eakohane </b> võõrkeelepädevus.
    </p>
    <h4 id="item-2">Sõnavaraloendid</h4>
    <p>
      Sõnade tasemetesse jagamise põhimõtted on järgmised: 1) sagedus korpustes (täiskasvanutel eelkõige 2017. aastal
      loodud eesti keele ühendkorpuses; noortel keeleõppijatel eesti keele kui teise keele põhikooli õpikute korpuses;
      koolieelikutel lastekeelekorpuse CHILDES eesti keele alamkorpuses) 2) tuumsus
      (vt lähemalt Pajusalu, R., Tragel, I., Veismann, A., Vija, M. 2004. Tuumsõnade semantikat ja pragmaatikat.
      Tartu.);
      3) kasutatavus suulises ja kirjalikus tekstiloomes (vt lähemalt Pajupuu, H., Kerge, K., Alp, P. 2009.
      Sõnavara loomulik rikkus haritud keeleoskaja tekstides. – Eesti rakenduslingvistika ühingu aastaraamat V.
      Tallinn.);
      4) vajalikkus igapäevaelu valdkondades; 5) sõnavara ajakohasus.
    </p>
    <h5 id="item-3">Koolieelikute sõnavaraloendid</h5>
    <p>
      Koolieelikute sõnaloend sisaldab kokku 1147 sõna ning selle koostajad on eksperdid Tallinna Ülikooli professor
      Reili
      Argus, lasteaiaõpetaja ja eesti keele õpikute autor Lea Maiberg ning lasteaiaõpetaja Mariana Koho. Eksperte
      konsulteerisid Eesti Keele Instituudi spetsialistid Jelena Kallas ja Kristina Koppel.
      Sõnaloend koolieelikutele on koostatud alusharidust omandava keeleõppija vajadusi silmas pidades ja seda sobib
      kasutada alushariduse õppevara koostamisel. Sõnade valikul on lähtekohaks Koolieelse lasteasutuse riikliku
      õppekava
      (RT I 2008, 23, 152) valdkonna Eesti keel kui teine keel õppe- ja kasvatustegevuse sisu ning eeldatavad tulemused.
      Sõnaloend sisaldab kõnearendusteemadest tulenevalt 3–7-aastaste laste aktiivset (lapsed saavad aru ja oskavad ise
      kasutada) ja passiivset sõnavara (lapsed saavad aru, kuid ise ei kasuta).
      Loendi koostamisel on kasutatud järgmisi allikmaterjale: <br>
    </p>
    <ol>
      <li>lastekeelekorpuse CHILDES eesti keele alamkorpust, </li>
      <li>Eesti Keele Instituudis koostatud A1-taseme sõnavara loendit täiskasvanutele, </li>
      <li>Haridus- ja Teadusministeeriumi ekspertide Tiina Petersoni ja Viivian Jõemetsa sõnaloendi algset ettepanekut
      ning</li>
      <li>eesti keelest erineva kodukeelega laste keeleõppeks välja töötatud materjale lasteaedadele ja
      õpetajatele.</li>
    </ol>
    <p>
      Lastekeelekorpuse CHILDES eesti keele alamkorpus sisaldab laste ja vanemate spontaanse kõne lindistusi, mis on
      tehtud laste jaoks igapäevastes kodustes situatsioonides nagu söömine, mängimine, riietumine jne. Kuna esimese ja
      teise keele omandamine kulgeb suures osas sarnaselt ning nii nagu ükskeelne, vajab ka kakskeelne laps sellist
      sõnavara, mis võimaldab suhelda mitteformaalsetes lapsekesksetes igapäevastes situatsioonides, on spontaanse
      suulise
      kõne keelematerjal sõnaloendi aluseks sobiv.<br><br>
      Sõnaloendi koostamisel lähtuti sõnade valikul peamiselt sellest, mis vanuses laste kõnes teatud sõna korpuses
      esines
      ning kui sage see laste ja vanemate keelekasutuses oli. Näiteks kui sõna esines eesti keelt esimese keelena
      omandavate laste kõnes enne nende kaheaastaseks saamist ja kui see sõna oli alamkorpuses sage, on põhjust arvata,
      et
      see sõna on omane lapsekesksetele kõnesituatsioonidele ning see on vajalik ka eesti keelt teise keelena omandavate
      laste jaoks. Samas on oluline rõhutada, et teise keele õppijate keelekonstruktsioonid on lihtsamad kui esimese
      keele
      puhul ja seepärast on sõnaloend väiksemamahulisem kui lapse sõnavara emakeeles.<br><br>
      Loendite koostamisel analüüsiti süstemaatiliselt ka temaatilist sõnavara (nt kehaosad, loomad, linnud, toit,
      transport jmt) ning rühmaruumiga seotud sõnavara (rühmaruumis olevad asjad ja lasteaia tegevustes kasutatavad
      vahendid), lisati Eesti kultuuri tundmise seisukohalt oluline sõnavara, nt riiklike ja rahvakalendri tähtpäevade
      ning riigipühade nimetused (jaanipäev, emadepäev, isadepäev, vastlapäev jmt).<br><br>
      Suurem osa Eesti lasteaedu on liitunud programmiga „Kiusamisest vaba lasteaed“ ja tervist edendavate lasteaedade
      võrgustikuga, mistõttu on sõnaloendis algul raskena tunduvaid sõnu, kuid antud programme kasutades on need
      vajalikud.<br><br>
    </p>
    <h5 id="item-4">Noore keeleõppija (vanus 7-15) sõnavaraloendid</h5>
    <p>
      Põhikooliealiste ehk noore keeleõppija sõnaloendite väljatöötamisel on lähtutud Euroopa keeleõppe raamdokumendi
      sõsarväljaandest (2018), millega koos on Euroopa Nõukogu levitanud ka noorte õppijate tasemekirjeldusi (vanustele
      7-10 ja 11-15). Noore keeleõppija sõnaloend sisaldab kokku 5000 sõna.<br><br>
      Loendite koostamisel on kasutatud järgmisi allikmaterjale:<br></p>
    <div class="pl-2">
    <p>1. Korpused:<br></p>
    <p class="pl-2">
      a. Eesti keeleõppija korpus EMMA (3. klassi eesti keele kui emakeele tasemetööde kirjalikud osa (2017; 299 tööd);
      6.
      klassi eesti keele kui teise keele tasemetööde kirjalik osa (2016-2018; 1614 tööd); põhikooli eesti keele kui
      teise
      keele lõpueksami kirjalik osa (2016-2018; 902 tööd))<br>
      b. Eesti keele kui teise keele põhikooliõpikute korpuse 2020 3., 6. ja 9. klassi osa.
    </p><p class="p-2"> I. 3. klassi õpikud<br>  </p>
    <ol>
    <li> Pipar, Pille 2016. Koos on vahva. Sõprade seiklused. Eesti keele õpik vene õppekeelega kooli 3. klassile.
      Tallinn.
      Koolibri.</li>
      <li>Mangus, Inga; Simmul, Merge 2018. Minu eesti keel. 3. klass. I osa. Tallinn: Kirjatark.</li>
      <li>Mangus, Inga; Simmul, Merge 2018. Minu eesti keel. 3. klass. II osa. Tallinn: Kirjatark.</li>
    </ol>
  <p class="pl-2">II. 6. klassi õpikud</p>
      <ol>
      <li>Jänese, Anne; Metsa, Antidea 2013. Eesti keele õpik vene õppekeelega kooli 6. klassile 1. osa. Tallinn:
      Koolibri.</li>
        <li>Jänese, Anne; Metsa, Antidea 2013. Eesti keele õpik vene õppekeelega kooli 6. klassile 2. osa. Tallinn:
      Koolibri.</li>
        <li>Mangus, Inga; Simmul, Merge 2018. Minu eesti keel. 6. klass. Tallinn: Kirjatark.</li>
      </ol>
    <p class="pl-2">III. 9. klassi õpikud</p>
      <ol>
      <li>Siirak, Aino 2016. Eesti keele õpik vene õppekeelega kooli 9. klassile, 1. osa. Tallinn: Koolibri.</li>
      <li> Siirak, Aino 2017. Eesti keele õpik vene õppekeelega kooli 9. klassile, 2. osa. Tallinn: Koolibri.</li>
      <li>Kitsnik, Mare 2004. Eesti keele õpik vene õppekeelega koolile. 9. klass. Tallinn: Ilo.</li>
      </ol>
      <p>Sõnavaraloendid:<br></p>
      <p class="pl-2">
      a. Eesti Keele Instituudis koostatud A1, A2 ja B1 taseme sõnavara loendid täiskasvanutele<br>
      b. Eesti Keele Instituudis koostatud koolieelikute sõnavaraloend<br>
      </p>
    </div>
    <h5 id="item-5">Täiskasvanute sõnavaraloendid</h5>
    <p>
      Täiskasvanute sõnaloend sisaldab ca 12 000 keeletasemega (A1-C1) märgendatud sõna. Sõnavara suuruse määramisel on
      lähtekohaks Krista Kerge koostatud „Funktsionaalse keeleoskuse taseme määratlemine“ (Tallinn: Haridusministeerium,
      1996), mille kohaselt ulatub eesti keelt algtasemel valdava inimese sõnavara 1500–2000 sõnani, kesktaseme korral
      aga
      umbes 5000 sõnani.<br><br>
      Sõnavara loendite koostamisel olid aluseks kolme tüüpi allikad.</p>
      <ol>
      <li>Seni ilmunud eri keeleoskustasemete sõnavara kirjeldused<br>
      Laur, M. 1998. Tuumiksõnade loend. – M. Laur. 1998. Esimene verstapost. Eesti keele suhtluse algtase. Tallinn:
      REKK.<br>
      Kerge, K., Pajupuu, H., Ilves, M. 2008. Esmane sõnastik. – M. Ilves. Algaja keelekasutaja. A2-taseme eesti keele
      oskus. Tallinn: Eesti Keele Sihtasutus, Tallinna Ülikool, Haridus- ja Teadusministeerium.<br><br>
      Ehala, M., Saarso, K., Vare, S., Õispuu, J. 1997. Suhtlusläve sõnaindeks. – Eesti keele suhtluslävi.
      Kultuurikoostöö
      Nõukogu. Strasbourg: Council of Europe Publishing.</li><br>
        <li>Eesti Keele Instituudis koostatud ja koostamisel olevate õppesõnastike materjalid<br>
      Pärn, H., Simm, L. 1989. Eesti keele baassõnastik = Базовый словарь эстонского языка. Tallinn: Keele ja Kirjanduse
      Instituut.<br><br>
      Kallas, J., Tiits, M., Tuulik, M., Koppel, K., Jürviste, M. 2015. Eesti keele põhisõnavara sõnastik. DOI:
      10.15155/3-00-0000-0000-0000-05925L.<br><br>
      Eesti keele kollokatsioonisõnaraamat. Ilmumas. Vt lähemalt Kallas, J., Koppel, K., Tuulik, M. 2015.
      Korpusleksikograafia uued võimalused eesti keele kollokatsioonisõnastiku näitel. Eesti Rakenduslingvistika Ühingu
      aastaraamat, 11, 75−94.</li><br>
        <li>Eesti keele korpused<br>
      Eesti keele A1–C1 õpikute korpus 2018. DOI: 10.15155/3-00-0000-0000-0000-071E9L. Korpus sisaldab A1, A2, B1, B2 ja
      C1 keeleoskustasemega eesti keele õppijatele suunatud õpikute materjali, sh sõnavara loendeid, tekste ja
      harjutusi.<br><br>
      Eesti keele ühendkorpus 2017. DOI: 10.15155/3-00-0000-0000-0000-071E7L. Ühendkorpuse suurus on 1,3 miljardit
      sõnet.<br><br>
      Loendid koostati mitmes etapis.<br><br>
      Alustuseks loodi seni koostatud sõnavaraloenditest ühine elektrooniline andmebaas, mis võimaldas välja selgitada
      loenditevahelisi kattuvusi ja erinevusi. Analüüsi käigus kõrvaldati ka loendites esinenud vananenud sõnavara,
      näiteks sõnad ühiskorter, kooperatiivkorter, komposteerima, panderoll, telefonikabiin, videomagnetofon,
      kassettmagnetofon.<br><br>
      Seejärel lisati andmebaasi eesti keele A1–C1 õpikute korpuse ja eesti keele ühendkorpuse andmed. Eesti keele A1–C1
      õpikute korpus andis ülevaate, milliseid sõnu on õpikute autorid pidanud vajalikuks teatud keeleoskustaseme
      sõnavarapädevuse arendamiseks. Kokku oli õpikutes kasutatud ligikaudu 13 000 sõna. Andmebaasi otsustati jätta vaid
      sõnad, mis esinesid õpikus vähemalt kaks korda. Eesti keele ühendkorpuse alusel genereeritud sagedusloend (umbes
      60
      000 sõna) võimaldas kontrollida senistes loendites ja õpikutes kasutatud sõnavara ajakohasust ning lisada juurde
      korpuses sagedasti esinevaid sõnu, mis olid varasematest loenditest ja ka õpikute tekstist välja jäänud.<br><br>
      Mitmetähenduslike sõnade eri tähenduste tasemekohasust eraldi ei analüüsitud. Samuti ei ole eristatud homonüüme.
      Kui
      sõna kuulus kahte sõnaliiki (nt hea on nii omadussõna kui ka nimisõna), analüüsiti iga sõnaliigi tasemekohasust
      eraldi.</li>
    </ol>
    <p>
      Lõpptulemuseks saadi kõigi tasemete sõnavara suurused, mis on välja toodud allolevas tabelis:
    </p>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">keeleoskustase</th>
        <th scope="col">sõnu kokku</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>A1</td>
        <td>743</td>
      </tr>
      <tr>
        <td>A2</td>
        <td>2005</td>
      </tr>
      <tr>
        <td>B1</td>
        <td>4455</td>
      </tr>
      <tr>
        <td>*B2</td>
        <td>7685</td>
      </tr>
      <tr>
        <td>*C1</td>
        <td>12 225</td>
      </tr>
      </tbody>
    </table>
    <h4 id="item-6">Grammatika</h4>
    <p>Grammatiline profiil annab suunised, millist grammatikat, millistes funktsioonides ja kasutusolukordades võiks
      vastava taseme keelekasutaja vallata. Kirjeldatakse koolieelikute (eelA1), 3. klassi lõpetajate (A1), 6. klassi
      lõpetajate (A2) ja 9. klassi lõpetajate (B1) eesti keelt võõrkeelena õppivate õpilaste soovitavat
      grammatikapädevust. Kehtiva õppekava järgi on vene õppekeelega kooli 3. klassi lõpetaja oodatav eesti keele oskuse
      tase A1.2, 6. klassi lõpetajal A2.2 ja 9. klassi lõpetajal B1.2, hindamisel tuleb järgida eakohasuse printsiipi.
      Uue valdkonnakava projekti järgi on õpitulemused kõrgemal tasemel, kuid 2019. aastal see veel ei kehti.<br><br>
      Grammatilise profiili väljatöötamisel oli eeskujuks English Grammar Profile (O'Keeffe, Anne; Mark, Geraldine 2017.
      The English Grammar Profile of learner competence: Methodology and key findings - International Journal of Corpus
      Linguistics 22(4):457-489), mille metoodikat kohandati eesti keele vajadustele ja eesti keele kui teise keele
      teaduslikuks uurimuseks saadaolevale materjalile vastavalt.<br><br>
      Grammatiline profiili koostamisel oli suur roll ekspertgrupil, kuhu kuulusid: Krista Kerge, Raili Pool, Pilvi Alp,
      Anu Epner, Reili Argus, Annika Bauer.<br><br>
      Põhikooliõpilaste grammatilise profiili koostamine toimus lähtuvalt allpool kirjeldatud seitsmest etapist.
      Koolieelikute grammatikapädevuse uurimine erines tingituna piisavamahuliste allikmaterjalide puudumisest.
      Grammatikaõpetuse kaardistamisel ei kasutatud seetõttu alusmaterjalina õpikuid ning kuna koolieelikuid puudutav
      korpusmaterjal eesti keele kui teise keele omandamise kohta praktiliselt puudub, siis tugineti kirjelduste
      koostamisel eesti keelt emakeelena kõnelevate laste keele omandamise uurimisel leitule. Aluskorpuseks
      koolieelikute grammatika uurimisel oli lastekeelekorpuse CHILDES eesti keele alamkorpus. Varasemad uurimused on
      tõestanud, et emakeele ja võõrkeele omandamine toimub üldjoontes sarnaselt. Peamine erinevus seisneb selles, et
      teise keele õppijate keelekonstruktsioonid on lihtsamad ja sõnavara kitsam kui esimese keele puhul.
    </p>
    <b>Grammatilise profiili koostamise etapid olid:</b>
    <ol>
      <li>Grammatika õpetamise kaardistamine. Seniilmunud eesti keele kui teise keele kooliõpikutes õpetatavast
      grammatikast koostati loend, mille vormistamisel olid abiks ka eesti keele teaduslikud grammatikakirjeldused (nt
        “Eesti keele käsiraamat”, 2007). Loendi vaatas üle ja korrastas ekspertgrupp.</li>
      <li>Keeleoskuskirjelduste uurimine ja sidumine tekstitüüpidega. Ekspertgrupp viis kokku Euroopa keeleõppe
      raamdokumendist (2007) ja selle alusel valminud noorte õppijate tasemekirjeldustest (vanustele 7-10 ja 11-15)
      pärinevad keeleoskuskirjeldused (deskriptorid) samadest allikatest pärinevate tekstitüübi- ja teemaloenditega ning
      sidus need noorte keeleõppijate keeleoskustasemetega, mida käsitleb siinne profiil (eelA1, A1, A2, B1).</li>
      <li>Grammatika tasemekohasuse hindamine: eesti keele grammatika õpetamise loendi ning deskriptorite ja
      tekstitüüpide
      loendite sidumine lähtuvalt keeleoskustasemetest. Grammatika tasemekohasuse määramisel oli aluseks „Euroopa
      keeleõppe raamdokument: õppimine, õpetamine, hindamine“ (Tartu: Haridus- ja Teadusministeerium, 2007) ning selle
      sõsarväljaanne (2018).</li>
      <li>Esialgse grammatilise profiili koostamine. Ekspertgrupi hinnangu alusel esialgse grammatilise profiili
      koostamine
      koolieelikutele, 3. klassi, 6. klassi ja 9. klassi lõpetajatele. Selleks korrastati ning ühtlustati eelnevas
      etapis loodud loend.</li>
      <li>Võrdlus korpusega. Esialgse profiili grammatika sagedus- ja kasutuspõhine võrdlus korpustega (eesti keele kui
      teise keele kooliõpikute korpus, eesti keele õppija korpus EMMA, CHILDES)</li>
      <li>Korrastamine. Esialgse grammatilise profiili kohandamine võrdlustulemuste alusel: lisati näitelaused, eemaldati
      elemendid, mille esinemissagedus oli madal; vajadusel lisati esialgsest loendist väljajäänud, kuid korpustes
      sageli esineva juhtumite kirjeldused.</li>
      <li>Avaldamine. Grammatiline profiil koos näitelausete, deskriptorite, oskab-lausete ja tunnustega avaldati
      õpetajate
      tööriistakasti osana ja muudeti väliskasutajale otsitavaks.</li>
    </ol>
    <h5 id="item-7">Grammatilise profiili koostamise allikmaterjalid:</h5>
    <p>Korpused:<br>
     <span class="pl-4">a. Eesti keele kui teise keele kooliõpikute korpus 2020, mis sisaldab järgmisi õpikuid:</span></p>
      <div class="alpha"><ul>
    <li>Maiberg, Lea; Rikker, Maibi; Vahter, Õie 2000. Tere päevast! 1. Eesti keele õpik I klassile. Tallinn: Koolibri.</li>
     <li>Pipar, Pille 2014. Koos on tore. Eesti keele õpik vene õppekeelega kooli 1. klassile. Tallinn. Koolibri.</li>
     <li>Mangus, Inga; Simmul, Merge 2018. Minu eesti keel. 1. klass. I osa. Tallinn: Kirjatark.</li>
     <li>Mangus, Inga; Simmul, Merge 2018. Minu eesti keel. 1. klass. II osa. Tallinn: Kirjatark.</li>
     <li>Maiberg, Lea; Rikker, Maibi; Vahter, Õie 2007. Tere päevast! Eesti keele õpik vene õppekeelega kooli 2.
      klassile, 1. osa. Tallinn: Koolibri.</li>
     <li>Maiberg, Lea; Rikker, Maibi; Vahter, Õie 2007. Tere päevast! Eesti keele õpik vene õppekeelega kooli 2.
      klassile, 2. osa. Tallinn: Koolibri.</li>
      <li>Pipar, Pille 2015. Koos on lõbus. Janno jutud. Eesti keele õpik vene õppekeelega kooli 2. klassile. Tallinn.
      Koolibri.</li>
     <li>Mangus, Inga; Simmul, Merge 2018. Minu eesti keel. 2. klass. I osa. Tallinn: Kirjatark.</li>
     <li>Mangus, Inga; Simmul, Merge 2018. Minu eesti keel. 2. klass. II osa. Tallinn: Kirjatark.</li>
     <li>Pipar, Pille 2016. Koos on vahva. Sõprade seiklused. Eesti keele õpik vene õppekeelega kooli 3. klassile.
      Tallinn. Koolibri.</li>
      <li>Mangus, Inga; Simmul, Merge 2018. Minu eesti keel. 3. klass. I osa. Tallinn: Kirjatark.</li>
      <li>Mangus, Inga; Simmul, Merge 2018. Minu eesti keel. 3. klass. II osa. Tallinn: Kirjatark.</li>
      <li>Pipar, Pille 2017. Teele. Eesti keele õpik vene õppekeelega kooli 4. klassile, 1. osa. Tallinn:
      Koolibri.</li>
      <li>Pipar, Pille 2017. Teele. Eesti keele õpik vene õppekeelega kooli 4. klassile, 2. osa. Tallinn: Koolibri.</li>
      <li>Mangus, Inga; Simmul, Merge 2015. Minu eesti keel. 4. klass. Tallinn: Kirjatark.</li>
      <li>Jänese, Anne; Metsa, Antidea 2014. Eesti keele õpik vene õppekeelega kooli 5. klassile 1. osa. Tallinn:
      Koolibri.</li>
      <li>Jänese, Anne; Metsa, Antidea 2014. Eesti keele õpik vene õppekeelega kooli 5. klassile 2. osa. Tallinn:
      Koolibri.</li>
      <li>Pipar, Pille 2018. Teele. Eesti keele õpik vene õppekeelega kooli 5. klassile, 1. osa. Tallinn:
      Koolibri.</li>
      <li>Pipar, Pille 2019. Teele. Eesti keele õpik vene õppekeelega kooli 5. klassile, 2. osa. Tallinn: Koolibri.</li>
      <li>Mangus, Inga; Simmul, Merge 2018. Minu eesti keel. 5. klass. Tallinn: Kirjatark.</li>
      <li>Jänese, Anne; Metsa, Antidea 2013. Eesti keele õpik vene õppekeelega kooli 6. klassile 1. osa. Tallinn:
      Koolibri.</li>
      <li>Jänese, Anne; Metsa, Antidea 2013. Eesti keele õpik vene õppekeelega kooli 6. klassile 2. osa. Tallinn:
      Koolibri.</li>
      <li>Mangus, Inga; Simmul, Merge 2018. Minu eesti keel. 6. klass. Tallinn: Kirjatark.</li>
      <li>Siirak, Aino 2014. Eesti keele õpik vene õppekeelega kooli 7. klassile. Tallinn: Koolibri.</li>
      <li>Krall, Ingrid; Saarso, Kristi; Sõrmus, Elle 2007. Eesti keele õpik vene õppekeelega koolile. 7. klass.
      Tallinn: Ilo.</li>
      <li>Mangus, Inga; Simmul, Merge 2018. Minu eesti keel. 7. klass. Tallinn: Kirjatark.</li>
      <li>Siirak, Aino 2015. Eesti keele õpik vene õppekeelega kooli 8. klassile, 1. osa. Tallinn: Koolibri.</li>
      <li>Siirak, Aino 2015. Eesti keele õpik vene õppekeelega kooli 8. klassile, 2. osa. Tallinn: Koolibri.</li>
      <li>Krall, Ingrid; Saarso, Kristi; Sõrmus, Elle 2004. Eesti keele õpik vene õppekeelega koolile. 8. klass.
      Tallinn: Ilo.</li>
      <li>Mangus, Inga; Simmul, Merge 2019. Minu eesti keel. 8. klass. Tallinn: Kirjatark.</li>
      <li>Siirak, Aino 2016. Eesti keele õpik vene õppekeelega kooli 9. klassile, 1. osa. Tallinn: Koolibri.</li>
      <li>Siirak, Aino 2017. Eesti keele õpik vene õppekeelega kooli 9. klassile, 2. osa. Tallinn: Koolibri.</li>
      <li>Kitsnik, Mare 2004. Eesti keele õpik vene õppekeelega koolile. 9. klass. Tallinn: Ilo.</li>
  </ul></div>
    <p class="pl-4">
      b. Eesti keele õppija korpus EMMA (3. klassi eesti keele kui emakeele tasemetööde kirjalikud osa (2017; 299 tööd);
      6. klassi eesti keele kui teise keele tasemetööde kirjalik osa (2016-2018; 1614 tööd); põhikooli eesti keele kui
      teise keele lõpueksami kirjalik osa (2016-2018; 902 tööd))<br>
      c. Lastekeelekorpuse CHILDES eesti keele alamkorpus (koolieelikute L1 keelekasutus)<br>
    </p>
    <p>2. Grammatikakirjeldused:</p>
    <p class="pl-4">
      a. Erelt, Mati; Erelt, Tiiu; Ross, Kristiina 2007. Eesti keele käsiraamat. Tallinn: Eesti Keele Sihtasutus.
    </p>
    <h4 id="item-8">Teksti sõnavara hindamine</h4>
    <p>Teksti hindamise tööriist aitab määrata sõnade keerukust tekstis ja on abiks otsustamisel, kas tekst on lugejale
      tasemekohane.<br><br>
      Teksti sõnavara hindaja töötab estNLTK teekidel, mis pakuvad eestikeelsete vabatekstide töötlemiseks vajalikke
      baasoperatsioone. Tasub olla tähelepanelik homonüümidega (tamm - puu; tamm - veevoolu tõkestav rajatis), kuna
      nendele omistab programm sõltumata kontekstist automaatselt kõige sagedasema tähenduse. Keeleoskustaseme
      omistamisel sõnavarale on aluseks koolieelikute, noore keeleõppija ja täiskasvanute sõnavaraloendid.<br><br>
      Tulevikus on plaanis võimaldada hinnata ka teksti grammatilist keerukust.
    </p>
    <h4 id="item-9">Kuidas viidata</h4>
    <p>Õpetajate tööriistades esitatud infole palume viidata nii:<br>
      sõna või väljend. Sõnaveeb 2019. https://sonaveeb.ee (14.2.2019)<br><br>
      Kui on vaja täpselt viidata mõnele Õpetajate tööriistades olevale sõnakogule, palume seda teha nii:<br><br>
      sõna või väljend. Eesti keele sõnaraamat 2019. https://sonaveeb.ee (14.2.2019)<br>
      sõna või väljend. Eesti-vene õpilase ÕS 2019. https://sonaveeb.ee (14.2.2019)
    </p>
    <h4 id="item-10">Kasutus- ja privaatsustingimused</h4>
    <b>Õpetajate tööriistade kasutamine</b>
    <p>Õpetajate tööriistad on Eesti Keele Instituudi uus portaal eesti keele kui teise keele õpetajatele ja teistele
      keeleõppega seotud spetsialistidele, kuhu on koondatud kolm tööriista: keeleoskustasemetega märgendatud
      sõnavaraloend, teksti sõnavara hindamise tööriist ning eesti keele kui teise keele keeleoskustasemetega seotud
      grammatiline profiil. Õpetajate tööriistade keskkonnas pakutava teabe kohta kehtib litsents Creative Commons BY
      4.0, mis tähendab, et materjali on lubatud töödelda ja esitada mis tahes vajalikul moel, näiteks õppematerjaliks,
      äpiks, spelleri lähtematerjaliks jne. Kommertskasutust ei piirata, kuid te peate oma rakenduse juures säilitama
      viite Eesti Keele Instituudile ja Õpetajate tööriistadele või vastavale sõnakogule. Samuti peate kirjeldama
      omapoolseid muudatusi. Viitamise juhised on siin.
    </p>
    <b id="item-11">Kasutajate privaatsus</b>
    <p>Õpetajate tööriistade teenused on avaliku juurdepääsuga. Õpetajate tööriistade kasutaja edastab meile teavet, mis
      on vajalik Õpetajate tööriistade teenuste mugavaks tarbimiseks. Kogume ainult seda informatsiooni, mis on vajalik
      teenuse pakkumiseks. Õpetajate tööriistad kasutab e-teenuste osutamisel üldtunnustatud privaatsuspõhimõtteid.
      Isikuandmeid sisaldava teabe kogumisel ja säilitamisel lähtub Õpetajate tööriistad isikuandmete kaitse reeglitest.
      Õpetajate tööriistade eesmärk on tagada kõikide andmete täpsus ja vastavus tegelikkusele.
    </p>
    <b>Teave, mida Õpetajate tööriistad salvestab</b>
    <p>Kasutaja toimingute kirjed (logid). Õpetajate tööriistade kasutamisega tekib meie serverisse teave kasutaja
      toimingute kohta, mis sisaldab lisaks konkreetse teenuste kasutamise kirjetele järgnevat:<br></p>
    <div class="dots"><ul>
      <li>missuguseid teenuseid kasutati, milliseid tööriistu, sõnaloendeid, linke vmt vaadati (nt otsingud, klikitud
        lingid, andmekogud);</li>
      <li>teenuse kasutamise aeg ja kasutaja IP aadress (unikaalne aadress kohtvõrgus, mille kaudu on vajadusel võimalik
        tuvastada kasutaja asukoht füüsilises võrgus).</li>
      <li>Õpetajate tööriistad kasutab ajutisi ehk seansi küpsiseid, mis kustuvad pärast sessiooni lõpetamist ja
        veebilehitseja sulgemist. Küpsiseid kasutatakse keelevaliku meeldejätmiseks.</li>
  </ul></div>
    <b>Andmete hoiustamise aeg</b>
    <p>Kasutame kogutud statistilisi andmeid analüüside jaoks ühe aasta jooksul pärast andmete kogumist.</p>
    <b>Küsimused ja kommentaarid</b>
    <p>Palume kõik küsimused, tähelepanekud ja ettepanekud saata tagasiside vormi kaudu või Eesti Keele Instituudi
      e-posti aadressil eki@eki.ee.</p>
    <h4 id="item-12">Rahastajad</h4>
    <p>Õpetajate tööriistade loomist on toetanud Eesti Keele Instituudi, Haridus- ja Teadusministeeriumi Digipöörde
      programm ning Haridus- ja Teadusministeeriumi üldhariduse osakond. Õpetajate tööriistade koostajad soovivad eraldi
      tänada Viivian Jõemetsa.</p>
    <h4 id="item-13">Lisainfo</h4>
    <p>Jelena Kallas (EKI arvutileksikograaf) jelena.kallas@eki.ee <br>
      Tiiu Üksik (EKI arvutilingvist) tiiu.yksik@eki.ee <br>
      Kristina Koppel (EKI leksikograaf) kristina.koppel@eki.ee <br>
      Katrin Tsepelina (tarkvaraarendaja)
    </p>
  </div>
</div>
<a class="top-button" (click)="toTop()" title="Tagasi päisesse">
  <span class="icon icon-chevron-left"></span>
</a>
