<div class="container-fluid bottom-gutter">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']">Avaleht</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sõnavara</li>
    </ol>
  </nav>
  <h3>Sõnavara</h3>
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>Sõnavara otsing</ng-template>
      <ng-template ngbTabContent>
        <app-vocabulary></app-vocabulary>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Sõnavara loend</ng-template>
      <ng-template ngbTabContent>
        <app-vocabulary-list></app-vocabulary-list>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
